@import models.composition_protein.Crcdatajenny
@(data: List[Crcdatajenny])


@main {
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-book" ></i><a href="/celllines"> Cell Line</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-file" ></i> Colorectal Cancer<span class="divider"></span></li>
    </ul>

    <section id="layouts">
        <div class="page-header row-fluid">
            <h1 class="">Colorectal Cancer Cell Line</h1>
        </div>

        <p><b>
            Comprehensive glycomics comparison between colon cancer cell cultures and tumours: implications for biomarker studies</b></p>
        <p id="abstract">Chik JH, Zhou J, Moh ES, Christopherson R, Clarke SJ, Molloy MP, Packer NH</p>
        <p>PubMed Entry: <a href="http://www.ncbi.nlm.nih.gov/pubmed/24840470">24840470</a></p>

        <div class="alert alert-info" role="alert">
            Each glycan structure was quantified relative to the total content by integration of the extracted ion chromatogram peak area (EIC).<br/>
            For comparison of glycan abundances the area-under-the-curves (AUCs) of each glycan structure were normalised to the total AUC (for all glycan structures in a sample summed) and expressed as a percentage.
        </div>

        <div class="mini-layout">
            <div class="mini-layout-body"></div>
        </div>

        <div class="row-fluid">
            <div class="span9">



                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a data-toggle="tab" href="#red">Cell Line Information</a></li>
                    <li><a data-toggle="tab" href="#notes">Data Processing</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="red">


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="5"></th>
                                    <th colspan="10" style="text-align: center">Percentage Abundance</th>
                                    <th colspan="1"></th>
                                </tr>
                                <tr>

                                    <th>Structure</th>
                                    <th>Hex</th>
                                    <th>HexNAc</th>
                                    <th>Fuc</th>
                                    <th>NeuNAc</th>
                                    <th>SW1116 (Sample A)</th>
                                    <th>SW1116 (Sample B)</th>
                                    <th>SW620 (Sample A)</th>
                                    <th>SW620 (Sample B)</th>
                                    <th>SW837 (Sample A)</th>
                                    <th>SW837 (Sample B)</th>
                                    <th>SW480 (Sample A)</th>
                                    <th>SW480 (Sample B)</th>
                                    <th>Tissue 1</th>
                                    <th>Tissue 2</th>
                                    <th>UniCarb-DB</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for( data <- data) {
                                <tr>
                                    <td> @views.html.format.structureUnicarbdb(data.glycanSequence.glycanSequenceId) </td>
                                    <td>@data.hex</td>
                                    <td>@data.hexnac</td>
                                    <td>@data.fuc</td>
                                    <td>@data.neuac</td>
                                    <td>@data.abundance_1116_a</td>
                                    <td>@data.abundance_1116_b</td>
                                    <td>@data.abundance_620_a</td>
                                    <td>@data.abundance_620_b</td>
                                    <td>@data.abundance_837_a</td>
                                    <td>@data.abundance_837_b</td>
                                    <td>@data.abundance_480_a</td>
                                    <td>@data.abundance_480_b</td>
                                    <td>@data.abundance_t1</td>
                                    <td>@data.abundance_t2</td>
                                    <td><a href="http://unicarb-db.biomedicine.gu.se/msData/@data.lcmucinId"><img src="/images/unicarbdb.svg" /></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>


                    </div>
                    <ul class="tab-pane" id="notes">
                        <h4>Data Processing</h4>
                        <ul>
                            <li>Each glycan structure was quantified relative to the total content by integration of the extracted ion chromatogram peak area (EIC).</li>
                            <li>For comparison of glycan abundances the area-under-the-curves (AUCs) of each glycan structure were normalised to the total AUC (for all glycan structures in a sample summed) and expressed as a percentage.</li>
                        </ul>
                        <h4>Additonal Notes</h4>
                        <ul>
                            <li>Glycoproteins immobilized on PVDF membranes before N-glycans released by PNGase F, isolated and reduced</li>
                            <li>O-glycans are chemically released from the same protein spot by reductive β-elimination</li>
                            <li>Porous graphitised carbon liquid chromatography tandem mass spectrometry </li>
                            <li>Negative ion mode</li>
                            <li>Agilent LCD/MSD Trap XCT Ultra or Bruker HCT Ultra</li>
                            <li>MS scans were between m/z 100–2200</li>
                        </ul>
                    </ul>

                </div>
            </div>
            <div class="span3 sidebar">
                <div class="info">

                    @views.html.format.format()

                    <h3>Composition Filter</h3>

                    @helper.form(action = routes.IonMobility.ionmobCompositionSearch, 'method -> "GET", 'enctype -> "multipart/form-data", 'class -> "form-ionmob") {

                        <div class="control-group ionmobcomp">
                            <label class="labelionmob ionmobcomp">Hex</label>
                            <input id="ionmobcomp" type="text" class="input-block-level" name="hex" value="0">
                        </div>
                        <div class="control-group ionmobcomp ionmobcomp-align">
                            <label class="labelionmob ionmobcomp">HexNAc</label>
                            <input id="ionmobcomp" type="text" class="input-block-level" name="hexnac" value="0">
                        </div>
                        <div class="control-group ionmobcomp ionmobcomp-align">
                            <label class="labelionmob ionmobcomp">dHex</label>
                            <input id="ionmobcomp" type="text" class="input-block-level" name="dhex" value="0">
                        </div>
                        <div class="control-group ionmobcomp ionmobcomp-align">
                            <label class="labelionmob ionmobcomp">NeuNAc</label>
                            <input id="ionmobcomp" type="text" class="input-block-level" name="neunac" value="0">
                        </div>
                        <div class="form-ionmobfooter">
                            <button class="btn btn-primary btn btn-block" type="submit">Submit Query</button>
                        </div>
                    }
                </div>

            </div>
        </div>

    </section>
}