@import models.composition_protein.Shah
@(currentPage: io.ebean.PagedList[Shah], currentSortBy: String, currentOrder: String, currentFilter: String, proteins: List[Shah])

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Immuno.showShah(newPage, sortBy, order, currentFilter)

}

@main {
    <script>
      $(document).ready(function(){
        $("#e3").select2({
          placeholder: "Select multiple proteins...",
          allowClear: true,
          minimumInputLength: 1,
        });
        });
    </script>
    <script>
        $(function() {
        var myProteins = new Array();
        @for(s <- proteins ){
                myProteins.push("@s.protein");
        }
        myProteins.sort();
        options = '';
        for (var i = 0; i < myProteins.length; i++) {
                options += '<option value="' + myProteins[i] + '">' + myProteins[i] + '</option>';
        }
        $('#e3').html(options);
        });
    </script>


    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-book" ></i><a href=""> Cell Line</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-file" ></i> Prostate<span class="divider"></span></li>
    </ul>

    <section id="layouts">
        <div class="page-header row-fluid">
            <h1 class="">Prostate Cancer Cell Line</h1>
        </div>

        <p><b>Integrated Proteomic and Glycoproteomic Analyses of Prostate Cancer Cells Reveal Glycoprotein Alteration in Protein Abundance and Glycosylation</b></p>
        <p id="abstract">Shah P, Wang X, Yang W, Toghi Eshghi S, Sun S, Hoti N, Chen L, Yang S, Pasay J, Rubin A, Zhang H</p>
        <p>PubMed Entry: <a href="http://www.ncbi.nlm.nih.gov/pubmed/26256267">26256267</a></p>

        <div class="mini-layout">
            <div class="mini-layout-body"></div>
        </div>

        <div id="actions">
        <div id='test'  class="input-append controls">
            <form class='form-search' action="@link(0, "name")" method="GET">
                <select  name="m" MULTIPLE id="e3" id="listBox" class="input-xxlarge"></select>
                <input type="submit" id="searchsubmit" value="Filter" class="btn btn-primary">
                <a class="btn success" id="add" href="/prostate">Show All Glycoproteins</a>
            </form>
        </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <col style="width:20%" span="5" />
                    <thead>
                        <tr>
                            <th>Protein</th>
                            <th>Hex</th>
                            <th>HexNAc</th>
                            <th>Fuc</th>
                            <th>NeuNAc</th>
                            <th>Peptide</th>
                            <th>Category</th>
                            <th>LnCap</th>
                            <th>PC3</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(data <- currentPage.getList) {
                        <tr>
                            <td>@data.protein</td>
                            <td>@data.hex</td>
                            <td>@data.hexnac</td>
                            <td>@data.fucose</td>
                            <td>@data.neuac</td>
                            <td>@data.peptide</td>
                            <td>@data.category</td>
                            <td>@data.lncap</td>
                            <td>@data.pc3</td>
                        </tr>
                    }
                    </tbody>
                </table>

                <div id="pagination" class="pagination">
                    <ul>
                        @if(currentPage.hasPrev) {
                            <li class="prev">
                                <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                            </li>
                        } else {
                            <li class="prev disabled">
                                <a>&larr; Previous</a>
                            </li>
                        }
                        <li class="current">
                            <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                        </li>
                        @if(currentPage.hasNext) {
                            <li class="next">
                                <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                            </li>
                        } else {
                            <li class="next disabled">
                                <a>Next &rarr;</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>

    </section>
}