
@(data: List[io.ebean.SqlRow])
@****************************************
* Helper generating navigation links    *
****************************************@


@main {
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-book" ></i><a href=""> Cell Line</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-file" ></i> Prostate<span class="divider"></span></li>
    </ul>

    <section id="layouts">
        <div class="page-header row-fluid">
            <h1 class=""></h1>
            <h4 class="subheader span8"></h4>
        </div>

        <div class="row-fluid">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hex</th>
                        <th>HexNAc</th>
                        <th>Fuc</th>
                        <th>NeuAc</th>
                        <th>1116_a</th>
                        <th>1116_b</th>
                        <th>620_a</th>
                        <th>620_b</th>
                        <th>837_a</th>
                        <th>837_b</th>
                        <th>480_a</th>
                        <th>480_b</th>
                        <th>LIM1215</th>
                        <th>LIM1899</th>
                        <th>LIM2405</th>
                    </tr>
                </thead>
                <tbody>
                @for(data <- data) {
                    <tr>
                        <td>@data.get("hex")</td>
                        <td>@data.get("hexnac")</td>
                        <td>@data.get("fuc")</td>
                        <td>@data.get("neuac")</td>
                        <td>@data.get("abundance_1116_a")</td>
                        <td>@data.get("abundance_1116_b")</td>
                        <td>@data.get("abundance_620_a")</td>
                        <td>@data.get("abundance_620_b")</td>
                        <td>@data.get("abundance_837_a")</td>
                        <td>@data.get("abundance_837_b")</td>
                        <td>@data.get("abundance_480_a")</td>
                        <td>@data.get("abundance_480_b")</td>
                        <td>@data.get("abundance_lim1215")</td>
                        <td>@data.get("abundance_lim1899")</td>
                        <td>@data.get("abundance_lim2405")</td>
                }
                </tbody>
            </table>
        </div>
    </section>
}