@main {

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-book" ></i> References<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="layouts">

        <div class="page-header row-fluid">
            <h1 id="homeTitle">Cell Lines</h1>
        </div>


        <table class="computers table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Authors</th>
                    <th>Journal</th>
            </thead>
            <tbody>

                <tr>
                    <td><a href="/crc2">Comparative N-glycan profiling of colorectal cancer cell lines reveals unique bisecting GlcNAc and α-2,3-linked sialic acid determinants are associated with membrane proteins of the more metastatic/aggressive cell lines</a></td>
                    <td>2014</td>
                    <td>Sethi MK, Thaysen-Andersen M, Smith JT, Baker MS, Packer NH, Hancock WS, Fanayan S</td>
                    <td>J Proteome Res</td>
                </tr>
                <tr>
                    <td><a href="/crc">Comprehensive glycomics comparison between colon cancer cell cultures and tumours: implications for biomarker studies</a></td>
                    <td>2014</td>
                    <td>Chik JH, Zhou J, Moh ES, Christopherson R, Clarke SJ, Molloy MP, Packer NH</td>
                    <td>J Proteomics</td>
                </tr>
                <tr>
                    <td><a href="/prostate">Integrated Proteomic and Glycoproteomic Analyses of Prostate Cancer Cells Reveal Glycoprotein Alteration in Protein Abundance and Glycosylation</a></td>
                    <td>2015</td>
                    <td>Shah P, Wang X, Yang W, Toghi Eshghi S, Sun S, Hoti N, Chen L, Yang S, Pasay J, Rubin A, Zhang H</td>
                    <td>Mol Cell Proteomics</td>
                </tr>
                <tr>
                    <td><a href="/crcsummary">N-glycosylation Profiling of Colorectal Cancer Cell Lines Reveals Association of Fucosylation with Differentiation and Caudal Type Homebox 1 (CDX1)/Villin mRNA Expression</a></td>
                    <td>2015</td>
                    <td>Holst S, Deuss AJ, van Pelt GW, van Vliet SJ, Garcia-Vallejo JJ, Koeleman CA, Deelder AM, Mesker WE, Tollenaar RA, Rombouts Y, Wuhrer M.</td>
                    <td>Mol Cell Proteomics</td>
                </tr>
            </tbody>
        </table>


        @views.html.footerunicarb.footerunicarb()


    </section>

}