<div class="footer row-fluid">
 <div class="span12">
        <p class="pull-left">UniCarbKB 
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a>
	</p>
     <p class="pull-right">Supported by
         <a href="http://www.nectar.org.au">ARDC-NeCTAR</a> &nbsp;|&nbsp;
         <a href="http://www.glygen.org"> NIH Glycoscience Common Fund</a> &nbsp;|&nbsp;

         <a href="https://twitter.com/GlycostoreInfo" class="twitter-follow-button" data-show-<a href="https://www.griffith.edu.au/institute-glycomics"> Institute for Glycomics</a> &nbsp;|&nbsp;count="false">Follow Us</a>
         <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width : 0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a>
     </p>
 </div>
</div>
