@(ct: List[models.GlycansCTCombined])

@main {

    <ul class="breadcrumb" xmlns="http://www.w3.org/1999/html">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-search" ></i> Search<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="layouts" class="browse">
        <div class="page-header row-fluid">
            <h1>Structure Search - Text Input</h1>
        </div>

        <form class="form-vertical" action ="@(routes.Application.searchCTResults())">
            <fieldset>

                    <!-- Form Name -->
                <div class="row">
                    <div class="span12">
                        <div class="row-fluid">
                            <p>Search glycan structures that fully or partially match a defined GlycoCT entry:</p>
                            <div class="controls">
                                <textarea id="textinput" name="glycoct" type="text" placeholder="Paste Sequence" class="input-large span6"  cols="20" rows="10" ></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Search Database</button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

        @if(ct != null) {
            <p>@ct.size Result</p>
            <table class="table table-condensed table-bordered table-striped volumes">
                <thead>
                    <tr>
                        <th>Accession Number</th>
                        <th>Structure</th>
                    </tr>
                </thead>
                @for(c <- ct) {
                    <tr>
                        <td>@c.database.toUpperCase() @c.databaseId</td>
                        @if(c.database.matches("kb")) {
                            <td><a href=""><img class="sugar_image" src=@{
                                routes.Image.showImage(c.databaseId, "cfgl", "extended")
                            } height="50%", width="50%" alt=""/></a></td>
                        }
                        @if(c.database.matches("hmg")) {
                            <td><a href=""><img class="sugar_image" src=@{
                                routes.Image.showImageHmg(c.databaseId, "cfgl", "extended")
                            } height="50%", width="50%" alt=""/></a></td>
                        }
                        @if(c.database.matches("tcd")) {
                            <td><a href=""><img class="sugar_image" src=@{
                                routes.Image.showImageTCD(c.databaseId, "cfgl", "extended")
                            } height="50%", width="50%" alt=""/></a></td>
                        }
                    </tr>
                }
            </table>
        }
        @if(ct == null) {
            <div class="bluecallout">
            <h2>What is GlycoCT?</h2>
            <p>The GlycoCT format is a common format for encoding carbohydrate sequences that is based on a connection table approach with a controlled vocabulary to name monosaccharides, adopting IUPAC rules to generate a consistent, machine-readable nomenclature.
                The condensed format allows for unique identification of glycan structures in a compact manner.</p>
            <h2>How to get a GlycoCT encoding</h2>
            <p>A number of databases and tools support the export of glycan structures into GlycoCT including GlycoWorkBench and the embedded <a href="/builder">GlycanBuilder</a>.
            Simply, build your structure then 'File'-->'Export'-->'GlycoCT Condensed'</p>
            </div>
        }

        @views.html.footerunicarb.footerunicarb()
</section>

}
