@(publication: models.curated.Publication)

@main{

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="#"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-map-marker" ></i><a href="/proteins"> Protein</a> <span class="divider">></span></li>
        <li class="active" > @publication.firstAuthor, @publication.title</li>
    </ul>

    <section id="layouts" class="proteinsummary">
    <h1 id="homeTitle">Publication Summary</h1>

    <div class="row-fluid">
        <div class="span8">
            <div class='name'>
                @* <div class="control-group">
                <label>Name:</label> <div class="controls">@proteinName</div>
                </div>
                *@
            </div>

            <div class='glycosylation-sites'>
                @for(proteins <- publication.curateProteins){
                    <h5>@proteins.uniprot Site-Specific Information</h5>
                        <table class="computers table table-striped">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Structures</th>
                                    <th>Description</th>
                                    <th>Evidence</th>
                                </tr>
                            </thead>

                            <tbody>
                            @for(site <- proteins.curateSiteList) {
                                @if(site.site.matches("-") || site.site.isEmpty) {
                                    <tr>
                                        <td>@site.site</td>
                                        <td>
                                            <a href="">
                                                <span class="label label-notice"><i class='icon-th icon-white'></i>
                                                    Associated Structures: <b>@site.curateStructures.size()</b></span>
                                            </a>
                                        </td>
                                        <td> <span class="label">Global</span></td>
                                        <td>To be validated</td>
                                    </tr>
                                } else {
                                    <tr>
                                        <td>@site.site</td>
                                        <td>
                                            <a href="/showCuratedSiteStructures/@site.id">
                                                <span class="label label-notice"><i class='icon-th icon-white'></i>
                                                    TAssociated Structures: <b>@site.curateStructures.size()</b></span>
                                            </a>
                                        </td>
                                        <td> <span class="label">Site specific</span></td>
                                        <td>To be validated</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    }
            </div>

        </div>

        <div class="span4 details">

        </div>

    </div>
    </section>

    @views.html.footerunicarb.footerunicarb()
}