@(site: models.curated.CurateSite)

@main{

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="#"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-map-marker" ></i><a> Protein</a> <span class="divider">></span></li>
        <li class="active" > @site.curateProtein.uniprot, @site.site</li>
    </ul>

    <section id="layouts" class="proteinsummary">
        <h1 id="homeTitle">UniProt Accession: @site.curateProtein.uniprot, Amino Acid: @site.site</h1>

        <div class="row-fluid">
            <div class="span8">
                <div class='name'>

                 </div>

                <div class='glycosylation-sites'>
                    <h5>Site-Specific Structures</h5>
                    <ul class="structures clearfix">

                    @for(s <- site.curateStructures) {
                        @if(!s.glycoct.isEmpty) {
                            <li>
                            @views.html.curated.imageCurated(s.glycoct)
                            </li>
                        }
                        @if(s.glycoct.isEmpty && !s.composition.isEmpty) {
                            <li>
                            @views.html.curated.imageCurated(s.composition)
                            </li>
                        }


                    }
                    </ul>

                </div>

            </div>

            <div class="span4 info">
                <h3>Publication</h3>
                <li class="references">
                    <p class="title">@site.curateProtein.publication.title</p>
                    <p class="author">@site.curateProtein.publication.firstAuthor</p>
                    <p class="ref">PubMed: <a href='http://www.ncbi.nlm.nih.gov/pubmed/@site.curateProtein.publication.pmid'>@site.curateProtein.publication.pmid</a> Year: @site.curateProtein.publication.year</p>
                </li>

            </div>

        </div>
    </section>

    @views.html.footerunicarb.footerunicarb()

}