@import models.curated.Publication
@(currentPage: io.ebean.PagedList[Publication], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Curated.showCuratedPublications(newPage, sortBy, order, currentFilter)

}

    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main{

    <h1 id="homeTitle">Publications in Curation Pipeline</h1>


    @*if(currentPage.getTotalRowCount == 0) {*@
    @if(currentPage.getPageSize == 0) {
        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <div class="well">
            <em>The below publications are in the validation pipeline. Not all checks have been completed but the data can be viewed.</em>
        </div>


        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header("title", "Title")
                    @header("year", "Year")
                    @header("authors", "Authors")
                    @header("journal", "Journal")
                </tr>
            </thead>
            <tbody>

            @for(reference <- currentPage.getList) {
                <tr>
                    <td><a href="/showCuratedPublication/@reference.id">@reference.title</a></td>
                    <td>
                    @if(reference.year < 1) {
                        <em>-</em>
                    } else {
                        @reference.year
                    }
                    </td>
                    <td>
                    @if(reference.authors == null) {
                        <em>-</em>
                    } else {
                        @reference.authors
                    }
                    </td>
                    <td>
                    @if(reference.journal == null) {
                        <em>-</em>
                    } else {
                        @reference.journal
                    }
                    </td>
                </tr>
            }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }

    @views.html.footerunicarb.footerunicarb()

}