@import controllers.routes
@import controllers.routes
@import controllers.routes
@import controllers.routes
@(structureId: String)

<a href="">
@if(session.get("notation") == null ){
    <img class="sugar_image" src=@{routes.Curated.showImageCurated(structureId )} height="75%", width="75%" alt="">
    }
</a>

<a href="">
    @if({ session.get("notation") != null && session.get("notation").matches("gs")}) {
        @*<img class="sugar_image"  src="/images/gs/_@{structureId}.png">*@
        <img class="sugar_image" src=@{routes.Curated.showImageCurated(structureId )} height="75%", width="75%" alt="" >

    }
    @if({ session.get("notation") != null && session.get("notation").matches("cfgl")} ) {
        @*<img class="sugar_image"  src="/images/cfgl/smaller/@{structureId}.png" alt="">*@
        <img class="sugar_image" src=@{routes.Curated.showImageCurated(structureId )} height="75%", width="75%" alt="">
    }

    @if({ session.get("notation") != null && session.get("notation").matches("uoxf")} ) {
        @*<img class="sugar_image"  src="/images/uoxf/smaller/@{structureId}.png" alt="">*@
        <img class="sugar_image" src=@{routes.Curated.showImageCurated(structureId )} height="75%", width="75%" alt="">
        }
</a>