@import models.cell_lines.CaCo2
@(currentPage: io.ebean.PagedList[CaCo2], currentSortBy: String, currentOrder: String, currentFilter: String)

    @****************************************
    * Helper generating navigation links *
    ****************************************@
    @link(newPage: Int, newSortBy: String) = @{

        var sortBy = currentSortBy
        var order = currentOrder

        if(newSortBy != null) {
            sortBy = newSortBy
            if(currentSortBy == newSortBy) {
                if(currentOrder == "asc") {
                    order = "desc"
                } else {
                    order = "asc"
                }
            } else {
                order = "asc"
            }
        }

        // Generate the link
        routes.Crc.showCaco2(newPage, sortBy, order, currentFilter)

    }

    @main {

        <ul class="breadcrumb">
            <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
            <li><i class="icon-book" ></i><a href=""> Cell Line</a> <span class="divider">></span></li>
            <li class="active"><i class="icon-file" ></i> Colorectal Cancer<span class="divider"></span></li>
        </ul>

        <section id="layouts">
            <div class="page-header row-fluid">
                <h1 class="">Colorectal Cancer Cell Line</h1>
            </div>

            @views.html.crc.holst.paper()

            <div class="mini-layout">
                <div class="mini-layout-body"></div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Structure</th>
                                <th>Mass</th>
                                <th>CaCo2_1</th>
                                <th>CaCo2_2</th>
                                <th>CaCo2_3</th>
                                <th>CaCo2_1B</th>
                                <th>CaCo2_2B</th>
                                <th>CaCo2_3B</th>

                            </tr>
                        </thead>
                        <tbody>
                        @for( data <- currentPage.getList) {
                            <tr>
                                <td>@data.structureName</td>
                                <td>@{"%.2f".format(data.mass)}</td>
                                <td>@{"%.2f".format(data.Caco2_1)}</td>
                                <td>@{"%.2f".format(data.Caco2_2)}</td>
                                <td>@{"%.2f".format(data.Caco2_3)}</td>
                                <td>@{"%.2f".format(data.Caco2_1B)}</td>
                                <td>@{"%.2f".format(data.Caco2_2B)}</td>
                                <td>@{"%.2f".format(data.Caco2_3B)}</td>

                                }
                        </tbody>
                    </table>

                    <div id="pagination" class="pagination">
                        <ul>
                            @if(currentPage.hasPrev) {
                                <li class="prev">
                                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                                </li>
                            } else {
                                <li class="prev disabled">
                                    <a>&larr; Previous</a>
                                </li>
                            }
                            <li class="current">
                                <a>Displaying @currentPage.getDisplayXtoYofZ(" to ", " of ")</a>
                            </li>
                            @if(currentPage.hasNext) {
                                <li class="next">
                                    <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                                </li>
                            } else {
                                <li class="next disabled">
                                    <a>Next &rarr;</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </section>
    }