@main {

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-book" ></i><a href="/celllines"> Cell Line</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-file" ></i> Colorectal Cancer<span class="divider"></span></li>
    </ul>

    <section id="layouts">
        <div class="page-header row-fluid">
            <h1 class="">Colorectal Cancer Cell Line</h1>
        </div>

        @views.html.crc.holst.paperInfo()

        <div class="alert alert-info" role="alert">Information extracted from publication. Select cell line to review reported abundances and structure assignments.</div>

        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a data-toggle="tab" href="#red">Cell Line Information</a></li>
            <li><a data-toggle="tab" href="#notes">Data Processing</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="red">

        <table class="computers table table-striped">
            <thead>
                <th>Sample</th>
                <th>Cell type</th>
                <th>Tissue/location</th>
                <th>Tumour type</th>
                <th>Staging</th>
                <th>Tumour site</th>
                <th>Grade</th>
                <th>Differentiation</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Race</th>
                <th>Culture</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/c10">C10</a></td>
                    <td>Colon epithelial</td>
                    <td>descending colon</td>
                    <td>Adenocarcinoma</td>
                    <td>2</td>
                    <td>Primary</td>
                    <td>grade
                        II</td>
                    <td>mod-well</td>
                    <td>Male</td>
                    <td>71</td>
                    <td>---</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/caco2">CaCo2</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Carinoma<span
                    style='mso-spacerun:yes'>&nbsp;</span></td>
                    <td>2</td>
                    <td>Primary</td>
                    <td>grade
                        II</td>
                    <td>well</td>
                    <td>Male</td>
                    <td>72</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/co115">Co115</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon ascendens</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Primary</td>
                    <td>grade IV</td>
                    <td>poorly</td>
                    <td>Female</td>
                    <td>77</td>
                    <td><span
                    style='mso-spacerun:yes'>&nbsp;</span>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/colo205">Colo205_V<span
                    style='display:none'>Umc</span></a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma
                        (anaplastic)</td>
                    <td>4</td>
                    <td>ascitic
                        fluid (metastatic site)</td>
                    <td>grade II</td>
                    <td>moderately</td>
                    <td>Male</td>
                    <td>70</td>
                    <td>&nbsp;</td>
                    <td>adherent
                        and suspension</td>
                </tr>
                <tr>
                    <td><a href="/colo320">Colo320_V<span
                    style='display:none'>Umc</span></a></td>
                    <td>Colon epithelial</td>
                    <td>Colon sigmoid</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Primary</td>
                    <td>---</td>
                    <td>undifferentiated</td>
                    <td>Female</td>
                    <td>58</td>
                    <td>Caucasian</td>
                    <td>loosely adherent</td>
                </tr>
                <tr>
                    <td><a href="/dld">DLD-1</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon sigmoid</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Primary</td>
                    <td>grade III</td>
                    <td>mod-poorly</td>
                    <td>Male</td>
                    <td>45</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/hct116">HCT116</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon proximal</td>
                    <td>Carcinoma</td>
                    <td>4</td>
                    <td>Primary</td>
                    <td>grade IV</td>
                    <td>poorly</td>
                    <td>Male</td>
                    <td>48</td>
                    <td>---</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/hct15">HCT15_Vu<span
                    style='display:none'>mc</span></a></td>
                    <td>Colon epithelial</td>
                    <td>Colon sigmoid</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Primary</td>
                    <td>---</td>
                    <td>---</td>
                    <td>Male</td>
                    <td>&nbsp;</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td><a href="/hct8">HCT8</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon ilocecal</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>Male</td>
                    <td>67</td>
                    <td>---</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/hct29">HT29</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Primary</td>
                    <td>grade I</td>
                    <td>well</td>
                    <td>Female</td>
                    <td>44</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/km12">KM12_VU<span
                    style='display:none'>mc</span></a></td>
                    <td>---</td>
                    <td>Colon</td>
                    <td>---</td>
                    <td>2</td>
                    <td>Primary</td>
                    <td>grade III</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td><a href="/lovo">LOVO</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Lymph node metastasis</td>
                    <td>grade IV</td>
                    <td>---</td>
                    <td>Male</td>
                    <td>56</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/ls174t">LS174T_V</a><span
                    style='display:none'>Umc**</span></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma</td>
                    <td>2</td>
                    <td>Primary</td>
                    <td>grade I</td>
                    <td>well</td>
                    <td>Female</td>
                    <td>58</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/ls180">LS-180</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma</td>
                    <td>2</td>
                    <td>Primary</td>
                    <td>grade II</td>
                    <td>mod-well</td>
                    <td>Female</td>
                    <td>58</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/ls411n">LS-411N</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon cecum</td>
                    <td>Cecal carcinoma</td>
                    <td>2</td>
                    <td>Primary</td>
                    <td>grade IV</td>
                    <td>poorly</td>
                    <td>Male</td>
                    <td>32</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/rko">RKO_VUm</a><span
                    style='display:none'>c</span></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Carcinoma</td>
                    <td>---</td>
                    <td>---</td>
                    <td>grade IV</td>
                    <td>poorly</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/sw1116">SW1116</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma</td>
                    <td>1</td>
                    <td>Primary</td>
                    <td>&nbsp;</td>
                    <td>well</td>
                    <td>Male</td>
                    <td>73</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/sw1398">SW1398_<span
                    style='display:none'>VUmc</span></a></td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td><a href="/sw1463">SW1463</a></td>
                    <td>Colon epithelial</td>
                    <td>Rectum</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Primary</td>
                    <td>grade II-III</td>
                    <td>---</td>
                    <td>Female</td>
                    <td>66</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/sw48">SW48</a></td>
                    <td>Colon epithelial</td>
                    <td>Transversum</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Primary</td>
                    <td>grade IV</td>
                    <td>poorly</td>
                    <td>Female</td>
                    <td>82</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/sw480">SW480</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma</td>
                    <td>2</td>
                    <td>Primary</td>
                    <td>grade III-IV</td>
                    <td>moderately</td>
                    <td>Male</td>
                    <td>51</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/sw620">SW620</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Lymph node metastasis</td>
                    <td>grade IV</td>
                    <td>poorly</td>
                    <td>Male</td>
                    <td>51</td>
                    <td><span
                    style='mso-spacerun:yes'>&nbsp;</span>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/sw948">SW948_V<span
                    style='display:none'>Umc</span></a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Adenocarcinoma</td>
                    <td>3</td>
                    <td>Primary</td>
                    <td>grade III</td>
                    <td>moderately</td>
                    <td>Female</td>
                    <td>81</td>
                    <td>Caucasian</td>
                    <td>adherent</td>
                </tr>
                <tr>
                    <td><a href="/t84">T84</a></td>
                    <td>Colon epithelial</td>
                    <td>Colon</td>
                    <td>Carcinoma</td>
                    <td>---</td>
                    <td>Lung metastasis</td>
                    <td>---</td>
                    <td>---</td>
                    <td>Male</td>
                    <td>72</td>
                    <td>Unkown</td>
                    <td>adherent</td>
                </tr>
                @*<tr>
                    <td>WiDr</td>
                    <td>Colon epithelial</td>
                    <td>Colon<span
                    style='mso-spacerun:yes'>&nbsp; </span>rectosigmoid</td>
                    <td>Adenocarcinoma</td>
                    <td>---</td>
                    <td>Primary</td>
                    <td>---</td>
                    <td>---</td>
                    <td>Female</td>
                    <td>78</td>
                    <td>---</td>
                    <td>adherent</td>
                </tr>*@

            </tbody>
        </table>

            </div>

            <div class="tab-pane" id="notes">
                <h4>Data Processing</h4>
                <ul>
                    <li>A mean average spectrum for the total cell line sample spectra was generated using an in-house script.</li>
                    <li>The average spectrum was internally recalibrated using glycan peaks of known composition (refer to supplementary information).</li>
                    <li>MassyTools (version 0.1.5.1) was used for the targeted extraction of area under the curve for each CRC cell line profile using the defined composition list.</li>
                    <li>Glycan compsitions were confirmed by MS/MS.</li>
                    <li>The AUC scaled to a total relative intensity of 100 % for each average spectrum.</li>
                </ul>

                <h4>Additional Notes</h4>
                <ul>
                    <li>Spectra obtained over a mass window of m/z 1000–5000 with ion suppression below m/z 900 for a total of 10,000 shots (1000 Hz laser frequency, 200 shots per raster spot during complete random walk).</li>
                    <li>Tandem mass spectrometry (MALDI-TOF-MS/MS) performed for structural elucidation (TOF/TOF mode).</li>
                    <li>Released N-glycans were derivatized by ethyl esterification adapted from Reiding et al.  for discrimination of a2,3/6 Sialic acid linkages.</li>
                </ul>

                <p><i>Information from Methods section</i></p>
            </div>
        @views.html.footerunicarb.footerunicarb()


    </section>

}