<p><b>N-glycosylation Profiling of Colorectal Cancer Cell Lines Reveals Association of Fucosylation with Differentiation and Caudal Type Homebox 1 (CDX1)/Villin mRNA Expression</b></p>
<p id="abstract">Holst S, Deuss AJ, van Pelt GW, van Vliet SJ, Garcia-Vallejo JJ, Koeleman CA, Deelder AM, Mesker WE, Tollenaar RA, Rombouts Y, Wuhrer M</p>
<p>PubMed Entry: <a href="http://www.ncbi.nlm.nih.gov/pubmed/26537799">26537799</a></p>

<div class="alert alert-info" role="alert">Information extracted from supplementary data. An average spectrum for each cell line sample was generated and the area under the curve values are rescaled to a total relative intensity of 100%.
<br/>Additonal notes are available in the <a href="/crcsummary">data processing tab</a></div>