@main{

    <h2>Change Log</h2>
    <p><i>Released 1st September</i></p>

    <p><b>Major Code Level</b></p>
    <ul>
        <li>Play 2.3 to Play 2.4</li>
        <li>Running Ebean 4</li>
        <li>Testing HikariCP</li>
        <li>Java 8 required</li>
        <li>Public assets now using Finger print approach</li>
        <li>Updates to most core libraries</li>
    </ul>

    <p><b>Other changes</b></p>
    <ul>
        <li>Confluence links added to nav bar</li>
        <li>GlycoMob</li>
        <li>Extended Web Services</li>
    </ul>


}