@(structures: List[models.Streference], temp: String)
@import helper._

@main {

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        /IU
        <li class="active"><i class="icon-search" ></i> Search<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="layouts" class="browse">
        <div class="page-header row-fluid">
            <h1>Virtual Milk Glycome</h1>
        </div>

    <form class="form-vertical" action ="@(routes.HmgStructures.searchCompositionHmg())">
        <fieldset>

                <!-- Form Name -->
            <legend>Composition and IUPAC Search</legend>

                <!-- Text input-->
            <div class="row">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span6">
                            <label class="control-label" for="textinput">Gal</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Gal" type="text" placeholder="0" class="span2" value="0">
                                <select name="sel_gal"  class="span3">
                                    <option value="between">Between</option>
                                    <option value="gt">+</option>
                                    <option value="lt">-</option>
                                </select>
                                <input id="textinput" name="comp_Gal2" type="text" placeholder="0" class="span2" value="0">
                            </div>

                            <label class="control-label" for="textinput">Fuc</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Fuc" type="text" placeholder="0" class="span2" value="0">
                                <select name="sel_fuc"  class="span3">
                                    <option value="between">Exact</option>
                                    <option value="gt">+</option>
                                    <option value="lt">-</option>
                                </select>
                                <input id="textinput" name="comp_Fuc2" type="text" placeholder="0" class="span2" value="0">
                            </div>

			   <label class="control-label" for="textinput">GlcNAc</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Glcnac" type="text" placeholder="0" class="span2" value="0">
                                <select name="sel_glcnac"  class="span3">
                                    <option value="between">Exact</option>
                                    <option value="gt">+</option>
                                    <option value="lt">-</option>
                                </select>
                                <input id="textinput" name="comp_Glcnac2" type="text" placeholder="0" class="span2" value="0">
                            </div>

                            @* <label class="control-label" for="textinput">GalNAc</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Galnac" type="text" placeholder="0" class="span2" value="0">
                                <select name="sel_galnac"  class="span3">
                                    <option value="between">Exact</option>
                                    <option value="gt">+</option>
                                    <option value="lt">-</option>
                                </select>
                                <input id="textinput" name="comp_Galnac2" type="text" placeholder="0" class="span2" value="0">
                            </div>*@

                        </div>
                        <div class="span6">
                            <label class="control-label" for="textinput">NeuAc</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Kdn" type="text" placeholder="0" class="span2" value="0">
                                <select name="sel_kdn"  class="span3">
                                    <option value="between">Exact</option>
                                    <option value="gt">+</option>
                                    <option value="lt">-</option>
                                </select>
                                <input id="textinput" name="comp_Kdn2" type="text" placeholder="0" class="span2" value="0">
                            </div>

                            <label class="control-label" for="textinput">Glc</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Glc" type="text" placeholder="0" class="span2" value="0">
                                <select name="sel_glc"  class="span3">
                                    <option value="between">Exact</option>
                                    <option value="gt">+</option>
                                    <option value="lt">-</option>
                                </select>
                                <input id="textinput" name="comp_Glc2" type="text" placeholder="0" class="span2" value="0">
                            </div>

                            @* <label class="control-label" for="textinput">GlcNAc</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Glcnac" type="text" placeholder="0" class="span2" value="0">
                                <select name="sel_glcnac"  class="span3">
                                    <option value="between">Exact</option>
                                    <option value="gt">+</option>
                                    <option value="lt">-</option>
                                </select>
                                <input id="textinput" name="comp_Glcnac2" type="text" placeholder="0" class="span2" value="0">
                            </div>
			    *@


                        </div>

                        @*<div class="span4">
                            <label class="control-label" for="textinput">GlcNAc</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Glcnac" type="text" placeholder="0" class="input-small">
                            </div>

                            <label class="control-label" for="textinput">GalNAc</label>
                            <div class="controls">
                                <input id="textinput" name="comp_Galnac" type="text" placeholder="0" class="input-small">
                            </div>
                        </div>*@
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="row-fluid">
                        <p>IUPAC search will before a partial match against the database only</p>
                        <label class="control-label" for="textinput">IUPAC </label>
                        <div class="controls">
                            <textarea id="textinput" name="IUPAC" type="text" placeholder="Gal(b1-4)[Fuc(a1-3)]GlcNAc(b1-3)Gal(b1-4)[Fuc(a1-3)]Glc" class="input-large span6" ></textarea>
                        </div>

                        <label class="control-label" for="textinput">Mass </label>
                        <div class="controls">
                            <input id="textinput" name="mass" type="text" placeholder="Mass" value="0.0" class="input-large span3">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name=rdf"> Try the RDF Search
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Search Database</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <h3>New Sub(structure) Search </h3>
    <table class="table table-condensed table-bordered table-striped volumes">
        <thead>
            <tr>
                <th>Accession Number</th>
                <th>Structure</th>
            </tr>
        </thead>
        <tbody>
            @for(s <- structures){
               <tr>
                <td>UHMG@s.structure.id</td>
                <td><a href="@{routes.HmgStructures.searchHmgRDF(s.structure.id)}"><img class="sugar_image" src=@{routes.Image.showImage(s.structure.id, "cfgl", "extended" )} height="25%", width="25%" alt=""/></a></td>
               </tr>
            }
        </tbody>
    </table>

    </section>

    <script>
        $(function() {
    //  changes mouse cursor when highlighting loawer right of box
    $(document).on('mousemove', 'textarea', function(e) {
		var a = $(this).offset().top + $(this).outerHeight() - 16,	//	top border of bottom-right-corner-box area
			b = $(this).offset().left + $(this).outerWidth() - 16;	//	left border of bottom-right-corner-box area
		$(this).css({
			cursor: e.pageY > a && e.pageX > b ? 'nw-resize' : ''
		});
	})
    //  the following simple make the textbox "Auto-Expand" as it is typed in
    .on('keyup', 'textarea', function(e) {
        //  the following will help the text expand as typing takes place
        while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
            $(this).height($(this).height()+1);
        };
    });
});
    </script>

}
