@import models.rdf.RdfEpitopes
@(epitopes: List[RdfEpitopes])


    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(key:String, title:String) = {
    <th class="">
        <a href="">@title</a>
    </th>
}

@main {

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-book" ></i> Epitopes<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="layouts">

        <div class="page-header row-fluid">
            <h1 id="homeTitle"> Motif Summary</h1>
        </div>


        <div class="row-fluid">
            <div class="span8">
                <table class="computers table table-striped">
                    <thead>
                        <tr>
                            @header("motif", "Motif")
                            @header("description", "Description")
                            @header("count", "Structure Associations")
                        </tr>
                    </thead>
                    <tbody>
                    @for(epitope <- epitopes){
                        <tr>
                            <td><img src=@{routes.GlycoRDF.ImageGenerator(epitope.id, session.get("notation"))} > </td>
                            <td>@epitope.description</td>
                            <td>@epitope.countStructures</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="span4 sidebar">
            @views.html.format.format()
            </div>


            @views.html.footerunicarb.footerunicarb()

    </section>
}