@(currentPage: io.ebean.PagedList[models.rdf.RdfEpitopes], currentSortBy: String, currentOrder: String, currentFilter: String)


    @****************************************
    * Helper generating navigation links    *
    ****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.GlycoRDF.ShowEpitopes(newPage, sortBy, order, currentFilter)

}

    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

<style>
.list-group li {
list-style: none;

}
.panel-info, .panel-rating, .panel-more1 {
float: left;
margin: 0 10px;

}

</style>

@main {

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-book" ></i> Epitopes<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="layouts">

        <div class="page-header row-fluid">
            @*<h1 id="homeTitle">@Messages(" Epitope Search ", currentPage.getTotalRowCount)</h1>*@
            <h1 id="homeTitle">@Messages(" Epitope Search ", currentPage.getTotalCount)</h1>
            <h4 class="subheader">Search the curated collection of publication data by author or title descriptions</h4>
        </div>

        <div id="actions">

            <form class='input-append' action="@link(0, "originalSequence")" method="GET">
                <input type="search" id="searchbox" class='input-xxlarge' name="f" value="@currentFilter" placeholder="Sequence...">
                <input type="submit" id="searchsubmit" value="Filter" class="btn btn-primary">
                <a class="btn success" id="add" href="/showEpitopes?s=inputSequence">Show All References</a>
            </form>

        </div>

        <div class="row-fluid">
        @if(currentPage.getTotalCount == 0) {

            <div class="well">
                <em>Nothing to display</em>
            </div>

        } else {

            @for(epitope <- currentPage.getList) {
                @if(epitope.description != null ){
                <div class="container" >



                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="panel-inf span6">
                                        @*<p><strong>@epitope.description</strong></p>*@
                                        <p>@epitope.originalSequence</p>
                                    </div>
                                    <div class="panel-rating">
                                        @*<p>somehting here</p>*@
                                    </div>
                                    <div class="panel-more1 span3">
                                        @*<img src="http://unicarb-db.biomedicine.gu.se/unicarbdb/get_sugar_image.action?download=false&scale=1.0&outputType=png&inputType=glycoct_condensed&tolerateUnknown=1&notation=cfglink&sequences=@urlEncode(epitope.glycoctRings.replaceAll(" ", "\n")) "/>
                                         *@

                                    <a href="/substructureRDFResultEpitope/@epitope.id"><img src=@{routes.GlycoRDF.ImageGenerator(epitope.id, session.get("notation"))}></a>
                                        @*<br /> <span>Caption</span>*@
                                    </div>
                                </div>
                            </div>

                </div>
                }
            }
             @*<table class="table table-condensed">
                <thead>
                    <tr>
                        @header("originalSequence", "Original")
                        @header("inputSequence", "Sequence")
                    </tr>
                </thead>
                <tbody>

                @for(epitope <- currentPage.getList) {
                    <tr>
                        <td style="border-spacing:5em;" colspan="2">jdjdjd</td>
                    </tr>
                        <td><a href="" style="text-decoration : none, font-color: #404040; ">@epitope.originalSequence</a>
                            @epitope.description
                            <hr/>
                            @epitope.originalSequence
                        </td>
                        <td>
                            @epitope.inputSequence
                        </td>
                    </tr>
                }
                </tbody>
            </table>*@


            <div id="pagination" class="pagination">

                <ul class="clearfix">
                    @if(currentPage.hasPrev) {
                        <li class="prev"><a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a></li>
                    } else {
                        <li class="prev disabled"><a>&larr; Previous</a></li>
                    }
                    <li class="current"><a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a></li>
                    @if(currentPage.hasNext) {
                        <li class="next"><a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a></li>
                    } else {
                        <li class="next disabled"><a>Next &rarr;</a></li>
                    }
                </ul>
            </div>
        </div>

        @views.html.footerunicarb.footerunicarb()

        }

    </section>
}