<div class="info">
  <h3>Structure Format</h3>
  <a href="/format/cfgl"><span class='label label-dark'><span class='icon-adjust icon-white'></span> CFG/Essentials</span></a>
  <a href="/format/gs"><span class='label label-dark'><span class='icon-font icon-white'></span> Text</span></a>
  <a href="/format/uoxf"><span class='label label-dark'><span class='icon-stop icon-white'></span> Oxford</span></a>

</div>

