@(structureId: Long)


@if(session.get("notation") == null ){
    <img class="sugar_image" src=@{routes.Image.showImageCRC(structureId, "cfgl", "normal" )}  alt="">
}



@if({ session.get("notation") != null && session.get("notation").matches("gs")}) {
    @*<img class="sugar_image"  src="/images/gs/_@{structureId}.png">*@
    <img class="sugar_image" src=@{routes.Image.showImageCRC(structureId, session.get("notation"), "normal" )}  alt="" >

}
@if({ session.get("notation") != null && session.get("notation").matches("cfgl")} ) {
    @*<img class="sugar_image"  src="/images/cfgl/smaller/@{structureId}.png" alt="">*@
    <img class="sugar_image" src=@{routes.Image.showImageCRC(structureId, session.get("notation"), "extended" )} alt="">
}

@if({ session.get("notation") != null && session.get("notation").matches("uoxf")} ) {
    @*<img class="sugar_image"  src="/images/uoxf/smaller/@{structureId}.png" alt="">*@
    <img class="sugar_image" src=@{routes.Image.showImageCRC(structureId, session.get("notation"), "normal" )} alt="">
}
