@(structureId: Long)

<a href="@routes.Application.structureDetails(structureId)">
@if(session.get("notation") == null ){
        <img class="sugar_image" src=@{routes.Image.showImage(structureId, "cfgl", "normal" )} height="75%", width="75%" alt="">
}
</a>

<a href="@routes.Application.structureDetails(structureId)">
@if({ session.get("notation") != null && session.get("notation").matches("gs")}) {
        @*<img class="sugar_image"  src="/images/gs/_@{structureId}.png">*@
        <img class="sugar_image" src=@{routes.Image.showImage(structureId, session.get("notation"), "normal" )} height="75%", width="75%" alt="" >

}
@if({ session.get("notation") != null && session.get("notation").matches("cfgl")} ) {
	@*<img class="sugar_image"  src="/images/cfgl/smaller/@{structureId}.png" alt="">*@
        <img class="sugar_image" src=@{routes.Image.showImage(structureId, session.get("notation"), "extended" )} height="75%", width="75%" alt="">
        } 

@if({ session.get("notation") != null && session.get("notation").matches("uoxf")} ) {
        @*<img class="sugar_image"  src="/images/uoxf/smaller/@{structureId}.png" alt="">*@
        <img class="sugar_image" src=@{routes.Image.showImage(structureId, session.get("notation"), "normal" )} height="75%", width="75%" alt="">
        }
</a>


