@(structures: List[models.unicorn.Nlink], count: Integer )

@main {

    <ul class="breadcrumb" xmlns="http://www.w3.org/1999/html">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider"></span></li>
        <li><i class="icon-home" ></i><a href="/"> Unicorn N-links</a> <span class="divider"></span></li>
        <li class="active"><i class="icon-search" ></i> Search<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="layouts" class="browse">
        <div class="page-header row-fluid">
            <h1>UniCorn - Theoretical N-link Glycan Library</h1>
        </div>

        <p>UniCorn is a theoretical N-glycan structure database built from a library of 50 human glycosyltransferases.
            Enzyme specificities were sourced from major databases including Kyoto Encyclopedia of Genes and Genomes (KEGG) Glycan, Consortium for Functional Glycomics (CFG),
            Carbohydrate-Active enZymes (CAZy), GlycoGene DataBase (GGDB) and BRENDA. Based on the known activities, a parameter-free model of glycosylation is used to generate
            a library of theoretically possible N-glycans. UniCorn also aims to provide an effective curation and quality-checking tool of newly discovered curated glycan structures populating UniCarbKB.
        </p>



        <form class="form-vertical" action ="@(routes.Unicorn.searchCompositionUnicorn())">
            <fieldset>

                    <!-- Form Name -->
                <legend>Composition and IUPAC Search</legend>

                    <!-- Text input-->
                <div class="row">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span4">
                                <label class="control-label" for="textinput">Gal</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_Gal" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_gal"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_Gal2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                                <label class="control-label" for="textinput">Fuc</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_Fuc" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_fuc"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_Fuc2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                                <label class="control-label" for="textinput">GalNAc</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_Galnac" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_galnac"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_Galnac2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                            </div>
                            <div class="span4">
                                <label class="control-label" for="textinput">Kdn</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_Kdn" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_kdn"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_Kdn2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                                <label class="control-label" for="textinput">Man</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_Man" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_glc"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_Man2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                                <label class="control-label" for="textinput">GlcNAc</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_Glcnac" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_glcnac"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_Glcnac2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                            </div>

                            <div class="span4">
                                <label class="control-label" for="textinput">NeuAc</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_NeuAc" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_neuac"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_NeuAc2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                                <label class="control-label" for="textinput">NeuGc</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_NeuGc" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_neugc"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_NeuGc2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                                <label class="control-label" for="textinput">HexA</label>
                                <div class="controls">
                                    <input id="textinput" name="comp_HexA" type="text" placeholder="0" class="span2" value="0">
                                    <select name="sel_hexa"  class="span3">
                                        <option value="between">Between</option>
                                        <option value="gt">+</option>
                                        <option value="lt">-</option>
                                    </select>
                                    <input id="textinput" name="comp_HexA2" type="text" placeholder="0" class="span2" value="0">
                                </div>

                            </div>

                            @*<div class="span4">
                            <label class="control-label" for="textinput">GlcNAc</label>
                            <div class="controls">
                            <input id="textinput" name="comp_Glcnac" type="text" placeholder="0" class="input-small">
                            </div>

                            <label class="control-label" for="textinput">GalNAc</label>
                            <div class="controls">
                            <input id="textinput" name="comp_Galnac" type="text" placeholder="0" class="input-small">
                            </div>
                            </div>*@
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="row-fluid">
                            <p>IUPAC search will before a partial match against the database only</p>
                            <label class="control-label" for="textinput">IUPAC </label>
                            <div class="controls">
                                <textarea id="textinput" name="IUPAC" type="text" placeholder="Gal(b1-4)[Fuc(a1-3)]GlcNAc(b1-3)Gal(b1-4)[Fuc(a1-3)]Glc" class="input-xlarge span6" ></textarea>
                            </div>
                            <label class="control-label" for="textinput">Mass </label>
                            <div class="controls">
                                <input id="textinput" name="mass" type="text" value="0.0" placeholder="Mass" class="input-large span3">
                            </div>

                            @*<div class="checkbox">
                                <label>
                                    <input type="checkbox" name=rdf"> Try the RDF Search
                                </label>
                            </div>*@
                                <button type="submit" class="btn btn-primary">Search Database</button>

                        </div>

                    </div>
                </div>
            </fieldset>
        </form>

        <h3>New Sub(structure) Search @if(count > 100){ - Showing 100 out of @count }else{ - Showing @count Entries } </h3>
        <table class="table table-condensed table-bordered table-striped volumes">
            <thead>
                <tr>
                    <th>Accession Number</th>
                    <th>Structure</th>
                    <th>Average Mass</th>
                    <th>Mono. Mass</th>
                </tr>
            </thead>
            <tbody>
            @for(s <- structures){
                <tr>
                    <td>UCORN@s.id</td>
                    @*<td><a href="@{routes.Unicorn.searchNlinkRDF(s.id)}"><img class="sugar_image" src=@{routes.Image.showImageUnicorn(s.id, "cfgl", "extended" )} height="25%", width="25%" alt=""/></a></td>*@
                    <td><img class="sugar_image" src=@{routes.Image.showImageUnicorn(s.id, "cfgl", "extended" )} height="25%", width="25%" alt=""/></td>
                    <td>@{"%.2f".format(s.averageMass)}</td>
                    <td>@{"%.2f".format(s.monoMass)}</td>
                </tr>
            }
            </tbody>
        </table>

    </section>

}
