@import java.util.concurrent.CompletionStage
@(structures: models.unicorn.Nlink, hits: CompletionStage[List[String]] )

@main {

    <ul class="breadcrumb" xmlns="http://www.w3.org/1999/html">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-home" ></i><a href="/"> Milk Glycome</a> <span class="divider">></span></li>ç
        <li class="active"><i class="icon-search" ></i> Search<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="layouts" class="browse">
        <div class="page-header row-fluid">
            <h1>UniCorn - Theoretical N-link Glycan Library</h1>
        </div>


        <div class="row-fluid">
            <div class="span8">

        <img class="sugar_image" src=@{routes.Image.showImageUnicorn(structures.id, session.get("notation"), "extended" )} height="75%", width="75%" alt=""/></a>

                <h3>GlycoCT</h3>
                @* <p>@Html(HtmlFormat.escape(structures.glycoct).toString.replace("\n", "<br />"))</p> *@
                <p>@Html( (structures.glycoct).toString.replace("\n", "<br />") )</p>

                <h3>Sub(structure) Search with RDF</h3>
                <table class="table table-condensed table-bordered table-striped volumes">
                    <thead>
                        <tr>
                            <th>Accession Number</th>
                            <th>Structure</th>
                        </tr>
                    </thead>
                    <tbody>
                    @*for(ph <- hits.get(1)) {*@
                        @for(ph <- hits.toCompletableFuture.get() ) {
                        <tr>
                            <td>UNC@ph.replaceAll("structureConnection", "").replaceAll("\\> \\)", "").replaceAll("\\( \\?", "").split("=")</td>
                            <td><a href=""><img class="sugar_image" src=@{
                                routes.Image.showImageUnicorn(ph.replaceAll("structureConnection", "").replaceAll("\\> \\)", "").replaceAll("\\( \\?", "").replaceAll("=", "").replaceAll("""^\s+(?m)""","").toLong, "cfgl", "extended")
                            } height="50%", width="50%" alt=""/>
                            </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>



        </div>
            <div class="span4 sidebar">

                @views.html.format.format()

                <div class="info">
                    <h3>Structure Details</h3>
                    <p>GlcNAc: @structures.glcnac</p>
                    <p>Fucose: @structures.fuc</p>
                    <p>Galactose: @structures.gal</p>
                    <p>Mannose: @structures.man</p>
                    <p>Sialic acid: @structures.kdn</p>
                    <p>GalNAc: @structures.galnac</p>
                </div>


                <div class="info">
                    <h3>Contribution Information</h3>
                    <div class='taxonomy'>
                        <span class='label label-success'>N-link Library Model</span>
                        <span class='label label-important'>Theoretical</span>
                    </div>
                </div>

                <div class="info">
                    <h3>Substructure Search</h3>

                </div>


            </div>
        </div>
    </section>

}