@import models.disease.DiseaseOnto;
@(ref: HashSet[models.Reference], doid: Long, xref: java.util.List[String], iao: String, exactSynonym: java.util.List[String], alternativeId: java.util.List[String], label: String, onto: List[DiseaseOnto])

@main {

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-briefcase" ></i> Human Disease<span class="divider"></span></li>
    </ul>
    <section id="structureLayout">
        <section id="layouts">
            <div class="page-header row-fluid">
                <h1>Human Disease - @label.split(' ').map(_.capitalize).mkString(" ")</h1>
            </div>

            <div class="row-fluid">
                <div class="span8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Term</th>
                                <th>Description and Links</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>DOID</td>
                                <td>@doid</td>
                            </tr>
                            <tr>
                                <td>Definition</td>
                                <td>@iao</td>
                            </tr>
                            <tr>
                                <td>Cross-Refs</td>
                                <td><ul class="dashed-list">@for(x <- xref) {
                                    <li>@x</li>
                                }</ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Alternative DO Id's</td>
                                <td><ul class="dashed-list">@for(alternative <- alternativeId) {
                                    <li>@alternative</li>
                                }</ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Synonyms</td>
                                <td><ul class="dashed-list">@for(exactSynonym <- exactSynonym) {
                                    <li>@exactSynonym</li>
                                }</ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>


                <div class="span4 sidebar">

                    <div class='info'>
                        <h3>References</h3>
                        @for(o <- onto){
                            @for( (s, i) <- o.strproteintaxdiseaseList.zipWithIndex; if (i <= 5)){
                                @*views.html.format.structureSide(s.structure.id)*@

                            }
                        }
                        @for(r <- ref){
                            <li class="references">
                                <p class="title"><a  href='/references/@r.id'>@r.title</a></p>
                                <p class="author">@r.authors</p>
                                <p class="ref">PubMed: <a href='http://www.ncbi.nlm.nih.gov/pubmed/@r.pmid'>@r.pmid</a> Year: @r.year</p>
                            </li>
                        }
                    </div>

                </div>
            </div>
        </section>
    </section>

    @views.html.footerunicarb.footerunicarb()


}