@import models.disease.DiseaseOnto
@(currentPage: io.ebean.PagedList[DiseaseOnto], currentSortBy: String, currentOrder: String, currentFilter: String, diseaseList: List[DiseaseOnto])

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.DiseaseOntology.showDiseases(newPage, sortBy, order, currentFilter)

}


@main{

    <script>
            $(document).ready(function(){
                $("#e3").select2({
                    placeholder: "Select disease...",
                    allowClear: true,
                    minimumInputLength: 3,
                });
            });
    </script>
    <script>
            $(function() {
                var myDisease = new Array();
                @for(s <- diseaseList ){
                myDisease.push("@s.diseaseName");
                }
                myDisease.sort();
                options = '';
                for (var i = 0; i < myDisease.length; i++) {
                    options += '<option value="' + myDisease[i] + '">' + myDisease[i] + '</option>';
                }
                $('#e3').html(options);
            });
    </script>

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-book" ></i><a href=""> Disease Information</a> <span class="divider">></span></li>
    </ul>

    <section id="layouts">
        <div class="page-header row-fluid">
            <h1 class="">Disease Classifications</h1>
        </div>

        <div id='test'  class="input-append controls">
            <form class='form-search' action="@link(0, "diseaseName")" method="GET">
                <select  name="m" MULTIPLE id="e3" id="listBox" class="input-xxlarge"></select>
                <input type="submit" id="searchsubmit" value="Filter" class="btn btn-primary">
                <a class="btn success" id="add" href="/diseases">Show All Glycoproteins</a>
            </form>
        </div>


        <div class="mini-layout">
            <div class="mini-layout-body"></div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Disease</th>
                            <th>Disease Ontology</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(data <- currentPage.getList) {
                        <tr>
                            <td>@data.diseaseName</td>
                            @if(data.doidSecond > 0) {
                                <td><a href="/disease/@data.doidSecond">@{data.doidSecond}</a></td>
                            } else {
                                <td><a href="/disease/@data.doid">@{data.doid}</a></td>
                            }
                        </tr>
                    }

                    </tbody>
                </table>

                <div id="pagination" class="pagination">
                    <ul>
                        @if(currentPage.hasPrev) {
                            <li class="prev">
                                <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                            </li>
                        } else {
                            <li class="prev disabled">
                                <a>&larr; Previous</a>
                            </li>
                        }
                        <li class="current">
                            <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                        </li>
                        @if(currentPage.hasNext) {
                            <li class="next">
                                <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                            </li>
                        } else {
                            <li class="next disabled">
                                <a>Next &rarr;</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </section>
}