@import models.rdf.RdfEpitopes
@(currentPage: io.ebean.PagedList[models.rdf.UniCarbkbEpitopes], currentSortBy: String, currentOrder: String, currentFilter: Int, epitope: RdfEpitopes )

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Application.ShowStructuresEpitope(newPage, sortBy, order, currentFilter)

}

    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}


@main {

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-book" ></i> Epitopes<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="structureLayout">
        <section id="layouts">

            <div class="page-header row-fluid">
                <h1>Motif</h1>
                <h4 class="subheader span8">Details for  @epitope.description </h4>
            </div>

            <div class="row-fluid">
                <div class="span8">

                @*if(currentPage.getTotalRowCount == 0) {*@
                    @if(currentPage.getTotalCount == 0) {

                    <div class="well">
                        <em>Nothing to display</em>
                    </div>

                } else {

                    <ul class='structures'><img src=@{routes.GlycoRDF.ImageGenerator(2, session.get("notation"))}></ul>
                    <h3>Structures linked with the motif description</h3>
                    <table class="computers table table-striped">
                        <thead>
                            <tr>
                                @header("structure", "Structure")
                                @header("info", "Information")
                        </thead>
                        <tbody>

                        @for(s <- currentPage.getList) {
                            <tr>
                                <td><a href="/structure/@s.structure.id">@views.html.format.structureForEpitopes(s.structure.id)</a></td>
                                <td></td>
                            </tr>
                        }

                        </tbody>
                    </table>

                    <div id="pagination" class="pagination">
                        <ul>
                            @if(currentPage.hasPrev) {
                                <li class="prev">
                                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                                </li>
                            } else {
                                <li class="prev disabled">
                                    <a>&larr; Previous</a>
                                </li>
                            }
                            <li class="current">
                                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                            </li>
                            @if(currentPage.hasNext) {
                                <li class="next">
                                    <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                                </li>
                            } else {
                                <li class="next disabled">
                                    <a>Next &rarr;</a>
                                </li>
                            }
                        </ul>
                    </div>

                }

                </div>
                <div class="span4 sidebar">
                    @views.html.format.format()
                </div>
            </div>

            @views.html.footerunicarb.footerunicarb()

        </section>
    </section>
}
