@(structure: List[Structurecomp], query: Array[String])

@main{
<script>
$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
</script>

<ul class="breadcrumb">
  <li><i class="icon-home"></i><a href="/"> UniCarbKB</a> <span class="divider">&gt;</span></li>
  <li><i class="icon-search"></i><a href="/query"> Search</a> <span class="divider">&gt;</span></li>
  <li class="active"> Composition Search</li>
</ul>

<section id="structureLayout">
  <section id="layouts">

  <div class="page-header row-fluid">
	<h1>Composition Search</h1>
	<h4 class="subheader span8">GlycosuiteDB records</h4>
  </div>
	<div class="row-fluid">

	<div class="span3 search">
    	<div class="row-fluid">
      	  <div class="filterbar tabbable clearfix">
           <ul class="nav nav-tabs" id="myTabBar">
           <li class="active"><a href="#filter1" data-toggle="tab">GlycoSuiteDB <span class="pull-right count">  </span></a></li>
           @*<li class=""><a href="#filter2" data-toggle="tab">EUROCarbDB</a></li>
           <li><a href="#filter3" data-toggle="tab">GlycoBase <span class="pull-right count">   </span></a></li> </ul>*@
          </div>

          <div class="info">
            <h4>Other Options:</h4>
            <p><b>Glycan Builder:</b> Build and search a glycan structure<a href="/builder"> using the new interface</a>.</p>
            <p><b>Curated Publications:</b> Search the <a href="/references">growing list of publications, associated structures, and metadata</a>.</p>
          </div>
        </div>
  	</div>

	<div class="span9 rightpanel">
	  <h3>Query</h3>
	  <p>@for(q <- query) {@q}</p>

	  @views.html.format.format()
	  @if(structure.size() >1 ) {
	  <div class="input-group"> <span class="input-group-addon">Filter</span>
          <input id="filter" type="text" class="form-control" placeholder="Type here...">
      </div>


	  <table class="table table-striped table-bordered table-condensed">
          <thead><th>Structure</th><th>Information</th></thead>
          <tbody class="searchable">
          @for(structure <- structure) {
              <tr>
                  <td>@views.html.format.structureSide(structure.structure.id)</td>
                  <td>@if(structure.structure.strproteintax != null ){
                        @for(s <- structure.structure.strproteintax){ @if(s.proteins != null ) {
                            <p>@{ s.proteins.name } (@{s.taxonomy.species}) </p>
                        }
                      }

                  }
                  </td>
              </tr>
          }

	  </tbody></table>
	  }


	</div>
	</div>


</section>


}