@(footer: Html) = {

<div class="footer row-fluid">
  <div class="span12">
    <p class="pull-left">UniCarbKB</p>
    <p class="pull-right">Supported by
      <a href="http://www.nectar.org.au">NeCTAR-ADRC</a> &nbsp;|&nbsp;
      <a href="http://www.glygen.org"> NIH Glycoscience Common Fund</a> &nbsp;|&nbsp;
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a>
    </p>
  </div>
</div>
}
