@(map: Map[String,String], ct: String)


@main {

<style type="text/css">
#wrapperpin {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columnspin {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}
.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin2 p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}



#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

</style>

<script>
	$(document).ready(function() {
	$('input:button').click(function() {
		    var x = $(this).attr('id');
	   	    ajax(x);
   	});

	function ajax(x){
		$.ajax({
	    	type: 'GET',
	        url: 'http://localhost:9000/ajax/' + x,
	    	dataType: 'json',
        	success: function(json) {
		$('#badge').append( "<a href=\"/structure/" + json.message + "\"><span class=\"label label-dark\"><span class=\"icon-adjust icon-white\"></span> Link to UniCarbKB</span></a>"  );
     		},
		error: function(json) {
			$('#badge').append("<p>no result</p>");
		}
        });
	}
	});
	</script>

<script>
        $(document).ready(function() {  
        
        $("#e20").select2({
            tags:["ABS", "AMF", "BKF", "BTG", "GUH", "JBM", "NAN1", "SPG" ],
            tokenSeparators: [",", " "]});
        });
</script>

<ul class="breadcrumb">
    <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider"></span></li>
    <li class="active"><i class="icon-map-marker" ></i> GlycoDigest<span class="divider"></span></li>
</ul>
   
<div class="page-header row-fluid"> 
    <h1 id="homeTitle">GlycoDigest</h1>
    <h4 class="subheader">A tool to predict exoglycosidase digestions</h4>
</div>

<div id="actions">
	<div>
		<a href="#"><img src="http://glycobase.nibrt.ie/glycobase/get_sugar_image.action?download=false&amp;scale=1.0&amp;opaque=false&amp;outputType=png&notation=cfg&inputType=glycoct_condensed&sequences=@helper.urlEncode(ct)" ></a>
	</div>
	
	@* <h4>Check structure link to UniCarbKB</h4>
	<p>Click the 'UniCarbKB' button below to check if the structure is listed in UniCarbKB</p>
	<div id="badge"></div><br/>
	<input type="button" value="UniCarbKB" id="@helper.urlEncode(ct)"/> *@

    <p>Use the search box below to select the panel of exoglycosidase to digest the structure shown:</p>    
     <form class="form-search" action="/glycodigestBuilder/test/digest" method="GET">  	
       <div id="selection" class="row-fluid">
       <input name=digest  id="e20" id="listBox" class="span4"></input>
       <button type="submit" class="btn btn-primary">Digest</button>
       <p><a href="http://www.glycodigest.org/exoglycosidase.pdf">Exoglycosidase information</a></p> 
       </div>
    </form> 
</div>

<div>
	<ul class="thumbnails">
@for((key, value) <- map){
	<li class="span4">
    <div class="thumbnail">
         <img src="http://glycobase.nibrt.ie/glycobase/get_sugar_image.action?download=false&amp;scale=1.0&amp;opaque=false&amp;outputType=png&notation=cfg&inputType=glycoct_condensed&sequences=@value" />
      	<p class="pin2">Enzyme@key</p>

      	@* <input type="button" value="UniCarbKB" id="@value"/> *@

        </div>
        </li>
}
	</ul>

</div>

<div>
      @* <h2>Check structure link to UniCarbKB</h2>
      <p>Click the 'UniCarbKB' buttons above to check if the structure is listed in UniCarbKB</p>
      <div id="badge"></div>  *@

</div>
      @views.html.footerunicarb.footerunicarb()    


  </section>
        
}
