
@(ptmComment: String, sequence: String, accession: String, source: ArrayList[io.ebean.SqlRow], site: String, structures: HashSet[Long], taxsources: Proteinstaxonomy, taxsourceslist: List[Proteinstaxonomy], multicar: HashSet[String], proteinFromTax: String, compSite: List[composition_protein.CompSite])

@main {

<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li><i class="icon-map-marker" ></i><a href="/proteins"> Protein</a> <span class="divider">></span></li>
  <li><a href="/proteinsummary/@accession"> @accession </a><span class="divider">></span></li>
  <li class="active"><i class="icon-th" ></i> Associated Structures</li> 
</ul>

<section id="layouts" class="proteinsummary">

  <div class="page-header row-fluid">
    <h1>Associated Structures</h1>
    @if(taxsources != null ){
    <h4 class="subheader span8">Accession: <a href='/proteinsummary/@accession'>@accession</a> <br/>@taxsources.protein
      <span class="pull-right"><a href="http://uniprot.org/uniprot/@accession"><span class='label label-light'>UniProtKB/SWISS-PROT Entry</span></a></span>
    </h4>
    }
    @if(taxsources == null ){
    <h4 class="subheader span8">Accession: <a href='/proteinsummary/@accession'>@accession</a> @for(car <- multicar) {<br/>@car } 
      <span class="pull-right"><a href="http://uniprot.org/uniprot/@accession"><span class='label label-light'>UniProtkb/swiss-prot Entry</span></a></span>
    </h4>
    }
  </div>

  <div class="row-fluid">
    <div class="span8">
      @if(taxsources == null){<div class="alert alert-error">Warning: This entry corresponds to more than one protein description <ul> @for(car <- multicar){ <li>@car</li> } </ul> </div> }
      <h3>Structures reported on @site.replace("N-", "ASN-").replace("Asn-", "ASN-").replace("S-", "SER-").replace("Ser-", "SER-").replace("T-", "THR-").replace("Thr-", "THR-").replace("ASASN-", "ASN-").replace("AsnAsn", "ASN-") <a href="/proteinsummary/@accession"><span class="pull-right" style="text-transform:uppercase;text-transform:uppercase;font-size:12px;text-align:center;color:#21b5fd;margin:0 0 5px;font-weight:600">Discover more sites</span></a></h3>
      <ul class="structures clearfix">

        @for(s <- structures) {
        <li>
          @views.html.format.structure(s)
        </li>
        }
      </ul>
    </div><!-- /col -->

    <div class="span4 details">

      @views.html.format.format()

      <div class="info">
        <h3>Sequence</h3>
        <div class="sequence">
          @sequence 
        </div>
      </div>

      <div class="info">
        <h3>Biological Associations</h3>
        <div class='taxonomy'>
          <a id='toggle-taxonomy'><span class='label label-important'><span class='icon-tags icon-white'></span> Taxonomy @if(taxsources != null) {(1)} else {(0)} <span class="caret"></span></span></a>
          <a id='toggle-protein'><span class='label label-warning'><span class='icon-map-marker icon-white'></span> Protein @if(taxsources != null) {(1)} else {(0)} <span class="caret"></span></span></a>
        </div>
        <div class='taxonomy'>
          <ul id='more-taxonomy'>
            <h3 id='less-taxonomy'><span class='icon-tags icon-white'></span> Taxonomies</h3>
            @if(taxsources != null ) {
            <li><span class='icon-map-marker icon-white'></span> <a href="../taxonomysearch?taxonomy=@taxsources.species">@taxsources.species</a></li>
            }
          </ul>
          <ul id='more-protein'>
            <h3 id='less-protein'><span class='icon-map-marker icon-white'></span> Protein</h3>
            @if(taxsources != null) {
            <li><span class='icon-map-marker icon-white'></span> <a href='../proteinsummary/@taxsources.protein'>@taxsources.protein</a></li>
            }
          </ul>
        </div>
      </div>
      <div class="info">
        <h3>Reference @if(source.size() > 5) {showing top 5} <span id='show-references' class="label" style="font-size:16px"><a href="#4">@source.size()</a></span></h3>
        <ol>
          @*	{source().list.map { source => <tr><td> {source.id}</td></tr> }} *@

          @for((source,i) <- source.zipWithIndex; if (i < 5)) {
          <li class="references">
            <p class="title"><a name='@i' href='/references/@source.get("id")'>@source.get("title")</a></p>
            <p class="author">@source.get("authors")</p>
            <p class="ref">PubMed: <a href='http://www.ncbi.nlm.nih.gov/pubmed/@source.get("pmid")'>@source.get("pmid")</a> Year: @source.get("year")</p>
          </li>
          }
          <div id='more-references'>
          @for((source,i) <- source.zipWithIndex; if (i > 5)) {
          <li class="references">
            <p class="title"><a name='@i' href='/references/@source.get("id")'>@source.get("title")</a></p>
            <p class="author">@source.get("authors")</p>
            <p class="ref">PubMed: <a href='http://www.ncbi.nlm.nih.gov/pubmed/@source.get("pmid")'>@source.get("pmid")</a> Year: @source.get("year")</p>
          </li>
          }
          </div>
          @if(source.size() > 5) {
          <div id='show-more-references' class='more-structures' href='#'>
            See more references
            <br />
            <span>&#9679; &#9679; &#9679;</span>
          </div>
          }

        </ol>
      </div>

    </div><!-- /col -->
  </div><!-- /row -->

  @views.html.footerunicarb.footerunicarb()

</section>

}
