@(message: String, references: List[Reference], refmethods: List[Reference], taxsources: ArrayList[String], proteinsources: ArrayList[Biolsource], prot: ArrayList[String],  refmethodsgp: List[Reference], compRefs: List[composition_protein.CompRef], abstractPMID: String )
@import helper._

@title(text: String) = @{
  text.split(' ').map(_.capitalize).mkString(" ")
}

@ands(text: String) = @{
  text.replaceAll(" ", "-").replaceAll("(\\.$)", "")
}

<script>
    var ands = "";
    var andsTitle = "title";
	@for(ands <- references){
		andsTitle = ands.title
	}
	andsTitle.replace(/\s+/g, '-').toLowerCase();
	console.log("ands title " + andsTitle);	

</script>

@main {
@for(r <- references) {
<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li><i class="icon-book" ></i><a href="/references"> References</a> <span class="divider">></span></li>
  <li class="active"><i class="icon-file" ></i> @r.authors, @r.year, @r.journal.name<span class="divider"></span></li>
</ul>
}
<section id="layouts">

  @for(r <- references) {
  <div class="page-header row-fluid">
    <h1 class="">@r.journal.name, @r.year</h1>
    <h4 class="subheader span8">Reference details <span class="pull-right"><span class="label label-light">Curated Entry</span> <span class="label label-light">GlycoSuiteDB</span></span></h4>
  </div>

  <div class="row-fluid">
    <div class="span8">

      <p><b>@title(r.title)</b></p>
        <p id="abstract">@abstractPMID</p>
      <p>PubMed Entry: <a href="http://www.ncbi.nlm.nih.gov/pubmed/@r.pmid">@r.pmid</a></p>
      <div class="mini-layout">
        <div class="mini-layout-body"></div>
      </div>

        @if(compRefs.size() > 0 ) {
        <div class='glycosylation-sites'>
            <div class="alert alert-info">Compositional data available for this curated publication</div>
        </div>
        }

      <ul id="31" class="structures">
        @for(s <- r.streference) {
        <li>
          @views.html.format.structure(s.structure.id)
        </li>
        }
        @if(compRefs.size() > 0) {
            @for(c <- compRefs){
            <li>@c.composition_structure.composition</li>
            }
        }
      </ul>
    </div><!-- /col -->
    } 
    <div class="span4 sidebar">

      @views.html.format.format()

      <div class="info">
        <h3>Biological Associations</h3>
        <div class='taxonomy'>
          <a id='toggle-taxonomy'><span class='label label-important'><span class='icon-tags icon-white'></span> Taxonomy  <span class="caret"></span></span></a>
          <a id='toggle-protein'><span class='label label-warning'><span class='icon-map-marker icon-white'></span> Protein <span class="caret"></span></span></a>
          <a id='toggle-source'><span class='label label-success'><span class='icon-leaf icon-white'></span> Source <span class="caret"></span></span></a>
        </div>

        <div>
          <ul id='more-taxonomy'>
            <h3 id='less-taxonomy'><span class='icon-tags icon-white'></span> Taxonomies</h3>
            @for(tax <- taxsources){
            <li><span class='icon-tag icon-white'></span> <a href='../taxonomysearch?taxonomy=@tax'>@tax</a></li>
            }
          </ul>
          <ul id='more-protein'>
            <h3 id='less-protein'><span class='icon-map-marker icon-white'></span> Protein</h3>
            @for(protein <- proteinsources){

		    @if(protein.swiss_prot != null) {
           	    <li><span class='icon-map-marker icon-white'></span> <a href='/proteinsummary/@protein.swiss_prot/annotated'>@protein.protein, @protein.swiss_prot</a></li>
		    }
		    @if(protein.swiss_prot == null && protein.protein != null) {
                 <li><span class='icon-map-marker icon-white'></span> <a href="/proteinsummary/@protein.protein/@protein.taxonomy">@protein.protein  xxx</a></li>
            }
		
            }
          </ul>
           <ul id='more-source'>
                <h3 id='less-source'><span class='icon-leaf icon-white'></span> Source</h3>
                @for(protein <- proteinsources){
                <li><span class='icon-tag icon-white'></span> @protein.whole</li>
                }
            </ul>
        </div>

      </div>

      <div class="info">
        <h3>Validation Method</h3>
        @for(methods <- refmethods) {
        @for(rmethod <- methods.refmethod) { <p>@rmethod.method.description.toUpperCase()</p>
        }
        }

        @for(methodsgp <- refmethodsgp) {
        @for(rmethodgp <- methodsgp.refmethodgps) {

          <p>@rmethodgp.methodgp.description.toUpperCase()</p>
        }
        }
        
        
        <div class="mini-layout fluid">
          <div class="mini-layout-sidebar"></div>
          <div class="mini-layout-body"></div>
        </div>
      </div>
      
      <div class="info">
      	 <h3>Connections</h3>
      	 @for(r <- references){
      	 <a href='http://researchdata.ands.org.au/@ands(r.title)'> Research Data Australia </a>
     	 }
      </div>
    </div><!-- /col -->
  </div><!-- /row -->
  @views.html.footerunicarb.footerunicarb()
</section>



}
