@(result: List[Translation], structure: List[Structure], taxonomy: ArrayList[String], structureObject: Structure, listSub: List[io.ebean.SqlRow], subStr: HashSet[Structure])



@main{
<script>
$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
</script>
    <ul class="breadcrumb">
      <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
      <li><i class="icon-wrench" ></i><a href="/builder"> Glycan Builder</a> <span class="divider">></span></li>
      <li class='active'><i class='icon-search'></i> Glycan Search</span></li>
    </ul>

    <section id="layouts" class="browse">

    <div class="page-header row-fluid">
       <h1>Glycan Search</h1>
       <h4 class="subheader">Currently returning results from GlycosuiteDB, EuroCarb, and GlycoBase</h4>
    </div>

    <div class="row-fluid">
        <div class="span3 search">
          <div class="filterbar tabbable">
            <ul class="nav nav-tabs" id="myTabBar">
              <li class='title'>Database filter coming soon: <span class="pull-right count"></span></li>
              <li class='title'>Glycosuite <span class="pull-right count"></span></li>
              <li class='title'>EuroCarb</li>
              <li class='title'>GlycoBase</li>
            </ul>
          </div>
	  <div class="info">
            <h4>Other Options:</h4>
            <p><b>UniCarbKB Search:</b> Search UniCarbKB by Taxonomy, Tissue, Protein, or Composition with <a href="/query">our filtering system</a>.</p>
            <p><b>Curated Publications:</b> Search the <a href="/references">growing list of publications, associated structures, and metadata</a>.</p>
          </div>
        </div>
	<div class="span9">
    	    <ul class="nav nav-tabs" data-tabs="tabs">
      	      <li class="active"><a data-toggle="tab" href="#red">Structure Match</a></li>
              <li><a data-toggle="tab" href="#annotated">Substructure Match</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="red">
		<a class='btn pull-right' href="/builder"><i class="icon-refresh"></i> New Glycan</a>
                @for(result <- result){
                 <a href="/structure/@result.structure.id"><img src="http://www.glycodigest.org:8080/eurocarb/get_sugar_image.action?download=true&scale=1.0&outputType=png&inputType=gws&tolerateUnknown=1&sequences=@{result.gws}" /></a>
                }
		@if(structureObject != null ) {
      		<div class="bs-callout bs-callout-info">   
		   <h3>Search returned
        	      <small>
          		<span class='icon-book icon-white'></span> @structureObject.references.size() References,
          		<span class='icon-leaf icon-white'></span> @structureObject.strtaxonomy.size() Biological Associations,
          		<span class='icon-map-marker icon-white'></span> @structureObject.stsource.size() Proteins
        	      </small>
      		   </h3>
    		</div>
    		} else {
		   <h3>Search returned</h3>
			<div class="bs-callout bs-callout-warning">
				<p>The structure submitted could not be found! <br/>Only structures completely matching the submitted glycan topology will be returned.</p>
				<p>Check any similar structure in the 'Substructure' tab above!</p>
			</div>	
		}
		@if(structure != null ) {
    		   <div class='row-fluid'>
      		   	<h3>Publications</h3>
      			<div class="details span9">
        		@for(stref <- structure){
          		@for( (reference,i) <- stref.references.zipWithIndex; if (i <=3)){
            		<p><a href="../references/@reference.reference.id" target="_blank">@reference.reference.title</a>, @reference.reference.year, @reference.reference.authors</p>
          		}
        		}
      			</div>
    		  </div>
    		}

		@if(structureObject != null ) {
    		   <div class="row-fluid">
      			<h3>Biological Associations</h3>
      			<div class="details span9">
        		@for( (tax,j) <- taxonomy.zipWithIndex; if (j <=3)){
        		<a href="" style="font-size: 14px; font-weight: normal; line-height: 22px; margin-bottom: 9px; color: #4B5C66;">@tax, </a>
                    	}
		}

            </div>
            <div class="tab-pane" id="annotated">
		 @if(subStr.size() > 0) {
    		<h3>GlycoSuite Substructure Matches (<i>@subStr.size() hits</i>)</h3>	
		 <div class="input-group"> <span class="input-group-addon">Filter</span>
        	   <input id="filter" type="text" class="form-control" placeholder="Type species/glycoprotein/author...">
        	</div>
		<table id="demo" class="table table-striped table-bordered table-condensed">
                <thead><th>Structure</th><th>Taxonomy</th></thead>
                <tbody class="searchable">
                @for(ls <- subStr) {
                @for(l <- ls.translation) {
                   <tr><td><a href="/structure/@l.structure.id"><img src="http://www.glycodigest.org:8080/eurocarb/get_sugar_image.action?download=true&scale=1.0&outputType=png&inputType=gws&tolerateUnknown=1&sequences=@{l.gws}.png" /></a>
                   </td><td>
		 
		   @l.structure.strproteintaxbiolsource.groupBy(_.taxonomy).map{ case (i, j) => <p>@i.species   
		   @*l.structure.strproteintaxbiolsource.groupBy(_.sourceref).map{ case (i, j) => {<p>@i.biolsource.taxonomy</p> *@
		   @j.groupBy(_.reference).map{ case (y,z) => (<a href="/references/@y.id" target="_blank">@y.first , @y.year</a>) 
		   @z.groupBy(_.proteins).map{ case (d,e) =>  @if(d != null ) {<span class="label label-default">@d.name</span>  }
		   </p>
		   }}
		   
		   
		   @* j.map { x => <p>cccc @x.sourceref.reference.id - @x.sourceref.reference.first</p> } *@
		   }
		   

		   

                </td></tr>
                }
                }
                </tbody></table>
		}		

            </div>
        </div>
    </div>
}
