
@main {

    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li class="active"><i class="icon-search" ></i> Search<span class="divider"></span></li>
            <!--<li class="active" > You are here</li>-->
    </ul>

    <section id="layouts" class="browse">

        <div class="page-header row-fluid">
            <h1>Search UniCarbKB</h1>
        </div>

        <div class="row-fluid">
            <div class="span3 search">
                <div class="row-fluid">
                    <div class="info">
                        <h4>Other Options:</h4>
                        <p><b>Glycan Builder:</b> Build and search a glycan structure<a href="/search">
                            using the new interface</a>.</p>
                        <p><b>Curated Publications:</b> Search the <a href="/references">
                            growing list of publications, associated structures, and metadata</a>.</p>
                        <p><b>Search by GlycoCT</b> <a href="/searchCT">Find exact matching structure using the GlycoCT format search</a></p>
                    </div>
                </div>
            </div>

            <div class="span9 rightpanel">
                <form class="form-search controls" action="/compositions">
                    <h4>Glycan Type</h4>
                    <input type="hidden" name="glycanType" id="glycanType" value="" />
                    <div>
                        <p><b>Remember to select appropriate glycan class before searching CHECK</b></p><br/>
                        <input type="radio"  name="glycanType" value="N-LINKED"/>N-Linked
                        <input type="radio"  name="glycanType" value="O-LINKED"/>O-Linked
                    </div>
                    <br />

                    <h4>Monosaccharide Residues</h4>
                    <div class='row-fluid'>
                        <label class='checkbox span4'><input class="span2" name=comp_Hex type=text> Hex</label>
                        <label class='checkbox span4'><input class="span2" name=comp_HexNAc type=text> HexNAc</label>
                        <label class='checkbox span4'><input class="span2" name=comp_Deoxyhexose type=text> dHex</label>
                    </div>

                    <div class='row-fluid'>
                        <label class='checkbox span4'><input class="span2" name=comp_NeuAc type=text> NeuAc</label>
                        <label class='checkbox span4'><input class="span2" name=comp_NeuGc type=text> NeuGc</label>
                        <label class='checkbox span4'><input class="span2" name=comp_Pent type=text> Pentose</label>
                    </div>

                    <div class='row-fluid'>
                        <label class='checkbox span4'><input class="span2" name=comp_Sulph type=text> Sulphate</label>
                        <label class='checkbox span4'><input class="span2" name=comp_Phos type=text> Phosphate</label>
                        <label class='checkbox span4'><input class="span2" name=comp_KDN type=text> KDN</label>
                    </div>

                    <div class='row-fluid'>
                        <label class='checkbox span4'><input class="span2" name=comp_KDO type=text> KDO</label>
                        <label class='checkbox span4'><input class="span2" name=comp_HexA type=text> HexA</label>
                        <label class='checkbox span4'><input class="span2" name=comp_methyl type=text> Methyl</label>
                    </div>

                    <div class='row-fluid'>
                        <label class='checkbox span4'><input class="span2" name=comp_acetyl type=text> Acetyl</label>
                        <label class='checkbox span4'><input class="span2" name=comp_other type=text> Other</label>
                    </div>

                    <div class='row-fluid'>
                        <button type="submit" class="btn btn-primary">Composition Search</button>
                    </div>

                </form>
            </div>
        </div>
        @views.html.footerunicarb.footerunicarb()
    </section>

}


