@(message: String, taxon: Taxonomy, biolsource: List[Biolsource], groupTax: List[io.ebean.SqlRow], compTax: List[composition_protein.CompTax] )


@**********************************
* Helper generating table headers *
***********************************@

@header(key:String, title:String) = {
<th class="">
  <a href="">@title</a>
</th>
}

@main {

<div class="modal hide fade" id="taxDescription">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Taxonomy Structures</h3>
  </div>
  <div class="modal-body">
    <ul class="thumbnails">
      @for(s <- taxon.strtaxonomy ){

      <li class="span4">
	  @views.html.format.structure(s.structure.id)
      </li>
      }
    </ul>
  </div>
  <div class="modal-footer">
    help<a href="#" class="btn primary" onclick="okClicked ();">OK</a>
  </div>

</div>	

<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li><i class="icon-tags" ></i><a href="/references"> Taxonomy</a> <span class="divider">></span></li>
  <li><i class="icon-tag" ></i> @taxon.species</li>
</ul>

<section id="layouts">

<div class="page-header row-fluid">
  <h1>@taxon.species</h1> 
  <h4 class="subheader span8">@message <span class="pull-right"><span class="label label-light">Curated Entry</span> <span class="label label-light">GlycoSuiteDB</span></span></h4>
</div>

<div class="row-fluid">
  <div class="span8">

    <p>The GlycoSuite database is an annotated and curated relational database of glycan structures. For the taxonomy entry <b>@taxon.species</b> a number of glycan structures, glycoproteins and tissue source's have been curated.</p>

    @if(compTax != null) {
      <div class='glycosylation-sites'>
          <div class="alert alert-info"><p>Compositional data available: @compTax.size() compositions reported</p>
              <p>@for(c <- compTax) {
                  @c.composition_structure.composition
                  } </p>
          </div>
      </div>
    }

    @if(taxon.strtaxonomy.size() > 1 ){
    <ul class="structures clearfix">
      @for((s, i) <- taxon.strtaxonomy.zipWithIndex; if (i <=5) ){
        <li class="span5">
          @views.html.format.structure(s.structure.id)
        </li>
      }
    </ul>
    <ul id='more-thumbnails' class='structures clearfix'>
      @for((s, i) <- taxon.strtaxonomy.zipWithIndex; if (i >=6) ){
        <li class="span5">
 	    @views.html.format.structure(s.structure.id)
        </li>
      }
    </ul>
    @if(taxon.strtaxonomy.size() >=5) {
    <div id='show-structures' class='more-structures' href='#'>
      <span class="linktext">See more structures</span>
      <span class="linktext" style="display:none">See less structures</span>
      <br />
      <span>&#9679; &#9679; &#9679;</span>
    </div>
    }
    }
  </div>

  <div class="span4 sidebar">

    @views.html.format.format()

    <div class="info">
      <h3>Glycan Structures</h3>
      <p>
        <span id='more-structures' class='label label-notice'>
          <i class="icon-th icon-white"></i> Structures <b>(@taxon.strtaxonomy.size())</b> 
          <span class='caret'></span>
        </span>
      </p>

    </div>

      <div class='info'>
          <h3>Biological Associations</h3>
              <div class='source'>
                  <a id='toggle-protein'><span class='label label-warning'><span class='icon-map-marker icon-white'></span> Protein @groupTax.size()  <span class="caret"></span></span></a>
              </div>
          <div>
              <ul id='more-protein'>
                  <h3 id='less-protein'><span class='icon-map-marker icon-white'></span> Protein</h3>
                    @for(t <- groupTax){
                    @if(t.get("swiss_prot") != null) {
                    <li><span class='icon-map-marker icon-white'></span> <a href='/proteinsummary/@t.get("swiss_prot")/annotated'>@t.get("protein") (@t.get("swiss_prot"))</a></li>
                    }
                    @if(t.get("swiss_prot") == null) {
                    <li><span class='icon-map-marker icon-white'></span> <a href='/proteinsummary/@t.get("protein")/@t.get("taxonomy")'>@t.get("protein") </a></li>
                    }
                    }

              </ul>
          </div>
       </div>

  </div>
</div>

@views.html.footerunicarb.footerunicarb()

</section>


}
