@(tissue: Tissue, test: HashSet[String], strtax: TreeMap[String, String], message: String, description: String, taxNames: ArrayList[Taxonomy], taxItems: ArrayList[Taxonomy], proteinNames: ArrayList[String], proteinItems: ArrayList[Proteins], sourceNames: ArrayList[String], sourceItems: ArrayList[Tissue] )
@import helper._

@**********************************
* Helper generating table headers *
***********************************@

@header(key:String, title:String) = {
<th class="">
  <a href="">@title</a>
</th>
}

@main {
<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li><i class="icon-book" ></i><a href="/references"> References</a> <span class="divider">></span></li>
  <li class="active"><i class="icon-file" ></i> @message<span class="divider"></span></li>
</ul>

<section id="layouts">

  <div class="page-header row-fluid">
    <h1 class="">@message</h1>
    <h4 class="subheader span8">@description <span class="pull-right"><span class="label label-light">Curated Entry</span> <span class="label label-light">GlycoSuiteDB</span></span></h4>
  </div>

  <div class="row-fluid">
    <div class="span8">




      <ul class="structures clearfix">
        @* @for((s, i) <- taxon.strtaxonomy.zipWithIndex; if (i <=5) ){ *@
	@for(t <- test) {
        <li class="span5">
           @views.html.format.structure(t.toLong)

        </li>
        }
      </ul>
      <ul id='more-thumbnails' class='structures clearfix'>
      </ul>
      @if( test.size > 5) {
      <div id='show-structures' class='more-structures' href='#'>
        <span class="linktext">See more structures</span>
        <span class="linktext" style="display:none">See less structures</span> 
        <br />
        <span>&#9679; &#9679; &#9679;</span>
      </div>
      }

    </div>

    <div class="span4 sidebar">

	  	@views.html.format.format()

      <div class='info'>
        <h3>Biological Associations</h4>
        <div class='taxonomy'>
          <a id='toggle-taxonomy'><span class='label label-important'><span class='icon-tags icon-white'></span> Taxonomy (@tissue.taxtissue.size()) <span class="caret"></span></span></a>
          <a id='toggle-protein'><span class='label label-warning'><span class='icon-map-marker icon-white'></span> Protein (@tissue.proteintissue.size()) <span class="caret"></span></span></a> 
          @* <a id='toggle-source'><span class='label label-success'><span class='icon-leaf icon-white'></span> Source (@sourceItems.size()) <span class="caret"></span></span></a> *@
        </div>
	
	<div>
	  @if(tissue.taxtissue.size() > 0) {
          <ul id='more-taxonomy'>
            <h3 id='less-taxonomy'><span class='icon-tags icon-white'></span> Taxonomies</h3>
            @*
	     @for((key, value) <- strtax){
            <li><span class='icon-tag icon-white'></span> <a href='../taxonomy/@value'>@key</a></li>
            } *@
	    @for(t <- tissue.taxtissue) {
	     <li><span class='icon-tag icon-white'></span> <a href='../taxonomy/@t.taxonomy.id'>@t.species</a></li>
            }
          </ul> } 
	  @if(tissue.proteintissue.size() > 0) {
	  <ul id='more-protein'>
	    @for(t <- tissue.proteintissue){
	    <li><span class='icon-map-marker icon-white'></span> <a href='../proteinsummary/@t.swiss'>@t.protein (@t.swiss)</a></li>
	    }
	  </ul>
	  }
	</div>

      </div>


    </div>

  </div>
  @views.html.footerunicarb.footerunicarb()
</section>


}
