@(cssData: List[models.glycomobcomposition.CssData], cssDataGeneral: List[models.glycomobcomposition.CssDataGeneral],  proteinList: List[models.glycomobcomposition.GlycoproteinStandard])

@main{

<ul class="breadcrumb">
    <li><i class="icon-home"></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
    <li class="active"><i class="icon-th"></i> GlycoMob<span class="divider"></span></li>
</ul>

<section id="structureLayout">
    <section id="layouts">

        <div class="page-header row-fluid">
            <h1>CCS Search Results </h1>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <ul class="nav nav-tabs" id="product-table">
                    <li class="active"><a href="#1" data-toggle="tab">Matching Sodiated CCS</a>
                    </li>
                    <li><a href="#2" data-toggle="tab">Other Matching CSS</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="1">

                        @if(!cssData.isEmpty()){

                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <thead>
                            <tr>
                                <th>CSS</th>
                                <th>Mass (Na)</th>
                                <th>Mass</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Gas</th>
                                <th>Precursor Structure</th>
                                <th>Glycoprotein</th>

                            </tr>
                            </thead>
                            <tbody>
                            @for(c <- cssData){
                            <tr>
                                <td>@c.css</td>
                                <td>@c.sodiatedGlycomobCompositionList.massCharge</td>
                                <td>@c.sodiatedGlycomobCompositionList.mass</td>
                                <td>@c.sodiatedGlycomobCompositionList.hex</td>
                                <td>@c.sodiatedGlycomobCompositionList.hexnac</td>
                                <td>@c.sodiatedGlycomobCompositionList.dhex</td>
                                <td>@c.sodiatedGlycomobCompositionList.neunac</td>
                                <td>@c.ionmobGasList.name</td>
                                <td>@c.nativeStructure</td>
                                <td><a href="/ionmobCompleteProtein/@c.glycoproteinStandardList.id">@c.glycoproteinStandardList.name</a>
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>

                        }
                    </div>


                    <div class="tab-pane" id="2">
                        @if(!cssDataGeneral.isEmpty()){

                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <thead>
                            <tr>
                                <th>CSS</th>
                                <th>Mass (m/z)</th>
                                <th>Ion</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Gas</th>
                                <th>Native Structure</th>
                                <th>Glycoprotein</th>

                            </tr>
                            </thead>
                            <tbody>
                            @for(g <- cssDataGeneral){
                            <tr>
                                <td>@g.css</td>
                                <td>@{"%.2f".format(g.ionMass)}</td>
                                <td>@g.ion</td>
                                <td>@g.glycomobcompositionList.hex</td>
                                <td>@g.glycomobcompositionList.hexnac</td>
                                <td>@g.glycomobcompositionList.dhex</td>
                                <td>@g.glycomobcompositionList.neunac</td>
                                <td>@g.ionmobGasList.name</td>
                                <td>@g.nativeStructure</td>
                                <td><a href="/ionmobCompleteProtein/@g.glycoproteinStandardList.id">@g.glycoproteinStandardList.name</a>
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>

                        }
                    </div>
                </div>
            </div>

            <div class="span4">
                @views.html.format.ionmob(proteinList)
            </div>
        </div>
    </section>
</section>


}