@(structures: List[models.ionmob.GlycanMob], standards: List[models.glycomobcomposition.GlycoproteinStandard])

@main {
    <ul class="breadcrumb">
        <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
        <li><i class="icon-book" ></i><a href=""> Ion Mobility</a> </li>
    </ul>
    <section id="layouts">

        <div class="page-header row-fluid">
            <h2>GlycoMob - Structure Listing</h2>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <p>To support data interpretation of IM and MS/MS data we will populate a new CCS database, GlycoMob, as well as supplement the existing glycan fragmentation database UniCarb-DB with measurements of glycan standards. Glycan analysis using IM-MS is a relatively new approach and applications for CCS measurements have principally employed home-built instruments. As a consequence the wide-spread use of IM-MS for glycomics analysis on commercially available instruments has been hindered.</p>
                <br/>
                <table class="computers table table-striped">
                    <col style="width:20%" span="5" />
                    <thead>
                        <tr>
                            <th>Structure</th>
                            <th>Name</th>
                            <th>Mono. Mass</th>
                            <th>Average Mass</th>
                            <th>UniCarb Links</th>
                            <th>CCS Data</th>

                        </tr>
                    </thead>
                    <tbody>
                    @for(g <- structures) {
                        <tr>
                            <td><img class="sugar_image" src=@{
                                routes.Image.showImageIM(g.structure.id, session.get("notation"), "extended")
                            } alt="">
                            </td>
                            <td>@g.structureName</td>
                            <td>@("%.2f".format(g.monoMass))</td>
                            <td>@("%.2f".format(g.averageMass))</td>
                            <td>
                                @if(g.unicarbdb > 1) {
                                    <a href="http://unicarb-db.biomedicine.gu.se//unicarbdb/show_glycan.action?glycanSequenceId=@g.unicarbdb"><span class="label label-light">
                                        See UniCarb-DB MS entry</span></a>
                                }
                                @if(g.structureName.matches("Man3")) {
                                    <a href="http://www.unicarbkb.org/structure/1053"><span class="label label-light">
                                        UniCarbKB Search</span></a>
                                }
                                @if(g.structureName.matches("Man5")) {
                                    <a href="http://www.unicarbkb.org/structure/1061"><span class="label label-light">
                                        UniCarbKB Search</span></a>
                                }
                                @if(g.structureName.matches("Man6")) {
                                    <a href="http://www.unicarbkb.org/structure/1064"><span class="label label-light">
                                        UniCarbKB Search</span></a>
                                }
                                @if(g.structureName.matches("Man7\\(D1D1\\)")) {
                                    <a href="http://www.unicarbkb.org/structure/1066"><span class="label label-light">
                                        UniCarbKB Search</span></a>
                                }
                                @if(g.structureName.matches("Man8\\(D1D3\\)")) {
                                    <a href="http://www.unicarbkb.org/structure/1083"><span class="label label-light">
                                        UniCarbKB Search</span></a>
                                }
                                @if(g.structureName.matches("Man9")) {
                                    <a href="http://www.unicarbkb.org/structure/1081"><span class="label label-light">
                                        UniCarbKB Search</span></a>
                                }
                                @if(g.structureName.matches("Man9Glc1")) {}
                            </td>
                            <td><a href='@{
                                routes.IonMobility.ionmobilityHome()
                            }#@{
                                g.structureName
                            }'>Show data</a>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
            <div class="span4">
                @views.html.format.format()
                @views.html.format.ionmobData(standards)
            </div>
        </div>
        @views.html.footerunicarb.footerunicarb()
    </section>

}
