@(gm: List[ionmob.GlycanMob], ne: List[ionmob.NitrogenNegative], np: List[ionmob.NitrogenPositive], he: List[ionmob.HeNegative], hp: List[ionmob.HePositive], proteinList: List[models.glycomobcomposition.GlycoproteinStandard])

    @main {
        <ul class="breadcrumb">
            <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
            <li><i class="icon-book" ></i><a href=""> Ion Mobility</a> <span class="divider">></span></li>
        </ul>
        <section id="layouts">

            <div class="page-header row-fluid">
                <h2>GlycoMob - Ion Mobility Database</h2>
            </div>

            <div class="row-fluid">
                <div class="span8">
                    <p></p>
                    @for(g <- gm) {
                        <h4><a name="@g.structureName">@g.structureName</a></h4>
                        <img class="sugar_image" src=@{
                            routes.Image.showImageIM(g.structure.id, session.get("notation"), "extended")
                        } alt="" width="50%" length="50%">

                        <br/>
                        @if(g.unicarbdb > 1) {
                            <a href="http://unicarb-db.biomedicine.gu.se//unicarbdb/show_glycan.action?glycanSequenceId=@g.unicarbdb"><span class="label label-light">
                                See UniCarb-DB MS entry</span></a>
                        }
                        @if(g.structureName.matches("Man3")) {
                            <a href="http://www.unicarbkb.org/structure/1053"><span class="label label-light">
                                UniCarbKB Search</span></a>
                        }
                        @if(g.structureName.matches("Man5")) {
                            <a href="http://www.unicarbkb.org/structure/1061"><span class="label label-light">
                                UniCarbKB Search</span></a>
                        }
                        @if(g.structureName.matches("Man6")) {
                            <a href="http://www.unicarbkb.org/structure/1064"><span class="label label-light">
                                UniCarbKB Search</span></a>
                        }
                        @if(g.structureName.matches("Man7")) {
                            <a href="http://www.unicarbkb.org/structure/1066"><span class="label label-light">
                                UniCarbKB Search</span></a>
                        }
                        @if(g.structureName.matches("Man8")) {
                            <a href="http://www.unicarbkb.org/structure/1083"><span class="label label-light">
                                UniCarbKB Search</span></a>
                        }
                        @if(g.structureName.matches("Man9")) {
                            <a href="http://www.unicarbkb.org/structure/1081"><span class="label label-light">
                                UniCarbKB Search</span></a>
                        }
                        @if(g.structureName.matches("Man9Glc1")) {}

                        @if(g.nitrogenNegativeList.size() > 0 ){
                        <table class="computers table table-striped">
                            <col style="width:20%" span="5" />
                            <thead>
                                <tr><th align="middle" colspan="3">Gas: Nitrogen</th></tr>
                                <tr><th align="middle" colspan="3">Negative</th></tr>
                                <tr>
                                    <th>M+H</th>
                                    <th>M+Cl</th>
                                    <th>M+H2PO4</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for(ne <- g.nitrogenNegativeList) {
                                    <tr><td>@{if(ne.h > 1.0){
                                        "%.2f".format(ne.h) } else {"-"}
                                    }</td> <td>@{if(ne.cl > 1.0){
                                        "%.2f".format(ne.cl) } else {"-"}
                                    }</td> <td>@{if(ne.p > 1.0){
                                        "%.2f".format(ne.p) } else {"-"}
                                    }</td></tr>
                                        }

                            </tbody>
                        </table>
                    }

                    @if(g.nitrogenPositiveList.size() > 0) {
                        <table class="computers table table-striped">
                            <col style="width:20%" span="5" />
                            <thead>
                                <tr><th align="middle" colspan="3">Positive</th></tr>
                                <tr>

                                    <th>M+H</th>
                                    <th>M+Na</th>
                                    <th>M+K</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for(ne <- g.nitrogenPositiveList) {
                                    <td>@{if(ne.h > 1.0){
                                        "%.2f".format(ne.h) } else {"-"}
                                    }</td> <td>@{if(ne.na > 1.0){
                                        "%.2f".format(ne.na) } else {"-"}
                                    }</td> <td>@{if(ne.k > 1.0){
                                        "%.2f".format(ne.k) } else {"-"}
                                    }</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }

                        @if(g.heNegativeList.size() > 0) {
                        <table class="computers table table-striped">
                            <col style="width:20%" span="5" />
                            <thead>
                                <tr><th align="middle" colspan="3">Gas: Helium</th></tr>
                                <tr><th align="middle" colspan="3">Negative</th></tr>
                                <tr>
                                    <th>M+H</th>
                                    <th>M+Cl</th>
                                    <th>M+H2PO4</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for(ne <- g.heNegativeList) {
                                    <tr><td>@{if(ne.h > 1.0){
                                        "%.2f".format(ne.h) } else {"-"}
                                    }</td> <td>@{if(ne.cl > 1.0){
                                        "%.2f".format(ne.cl) } else {"-"}
                                    }</td> <td>@{if(ne.p > 1.0){
                                        "%.2f".format(ne.p) } else {"-"}
                                    }</td></tr>
                                        }


                            </tbody>
                        </table>
                    }

                        @if(g.hePositiveList.size() > 0 ) {
                            <table class="computers table table-striped">
                                <col style="width:20%" span="5" />
                                <thead>
                                    <tr><th align="middle" colspan="3">Positive</th></tr>
                                    <tr>
                                        <th>M+H</th>
                                        <th>M+Na</th>
                                        <th>M+K</th>
                                    </tr>
                                </thead>
                                <tbody>

                                @for(ne <- g.hePositiveList) {
                                    <tr> <td>@{
                                        if(ne.h > 1.0) {
                                            "%.2f".format(ne.h)
                                        } else {
                                            "-"
                                        }
                                    }</td> <td>@{
                                        if(ne.na > 1.0) {
                                            "%.2f".format(ne.na)
                                        } else {
                                            "-"
                                        }
                                    }</td> <td>@{
                                        if(ne.k > 1.0) {
                                            "%.2f".format(ne.k)
                                        } else {
                                            "-"
                                        }
                                    }</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }

                    }
                </div>
                <div class="span4">
                    @views.html.format.format()
                    @views.html.format.ionmob(proteinList)
                </div>
            </div>
            @views.html.footerunicarb.footerunicarb()
        </section>

    }
