@(summaryNegativeHe: List[models.glycomobcomposition.CssDataGeneral], summaryNegativeN: List[models.glycomobcomposition.CssDataGeneral], protein: models.glycomobcomposition.GlycoproteinStandard, proteinList: List[models.glycomobcomposition.GlycoproteinStandard], summaryPositiveHe: List[models.glycomobcomposition.CssData], summaryPositiveN: List[models.glycomobcomposition.CssData])


@main{

<script src="http://wenzhixin.net.cn/p/bootstrap-table/src/extensions/filter/bootstrap-table-filter.js"></script>

<ul class="breadcrumb">
    <li><i class="icon-home"></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
    <li class="active"><i class="icon-th"></i> GlycoMob<span class="divider"></span></li>
</ul>

<section id="structureLayout">
    <section id="layouts">

        <div class="page-header row-fluid">
            <h1>@protein.name CCS Values</h1>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter by CCS" />
                <ul class="nav nav-tabs" id="product-table">
                    <li class="active"><a href="#1" data-toggle="tab">Negative Mode - Helium (@summaryNegativeHe.size)</a></li>
                    <li><a href="#2" data-toggle="tab">Negative Mode - Nitrogen (@summaryNegativeN.size)</a></li>
                    <li><a href="#3" data-toggle="tab">Positive Mode - Helium (@summaryPositiveHe.size)</a></li>
                    <li><a href="#4" data-toggle="tab">Positive Mode - Helium (@summaryPositiveN.size)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="1">

                        <h3>Negative Mode (Helium)</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Ion</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Native Structure</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(negative <-  summaryNegativeHe){
                            <tr>
                                <td>@negative.css</td>
                                <td>@negative.ionMass</td>
                                <td>@negative.ion</td>
                                <td>@negative.glycomobcompositionList.hex.replace("0", "")</td>
                                <td>@negative.glycomobcompositionList.hexnac.replace("0", "")</td>
                                <td>@negative.glycomobcompositionList.dhex.replace("0", "")</td>
                                <td>@negative.glycomobcompositionList.neunac.replace("0", "")</td>
                                <td></td>
                                <td>@negative.nativeStructure</td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>


                    <div class="tab-pane" id="2">
                        <h3>Negative Mode (Nitrogen)</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Ion</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Native Structure</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(negativeN <-  summaryNegativeN){
                            <tr>
                                <td>@negativeN.css</td>
                                <td>@negativeN.ionMass</td>
                                <td>@negativeN.ion</td>
                                <td>@negativeN.glycomobcompositionList.hex.replace("0", "")</td>
                                <td>@negativeN.glycomobcompositionList.hexnac.replace("0", "")</td>
                                <td>@negativeN.glycomobcompositionList.dhex.replace("0", "")</td>
                                <td>@negativeN.glycomobcompositionList.neunac.replace("0", "")</td>
                                <td></td>
                                <td>@negativeN.nativeStructure</td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>


                    <div class="tab-pane" id="3">

                        <h3>Positve Mode (Helium)</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Ion</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(positiveHe <-  summaryPositiveHe){
                            <tr>
                                <td>@positiveHe.css</td>
                                <td>@positiveHe.sodiatedGlycomobCompositionList.mass</td>
                                <td>@positiveHe.sodiatedGlycomobCompositionList.massCharge</td>
                                <td>@positiveHe.sodiatedGlycomobCompositionList.hex.replace("0", "")</td>
                                <td>@positiveHe.sodiatedGlycomobCompositionList.hexnac.replace("0", "")</td>
                                <td>@positiveHe.sodiatedGlycomobCompositionList.dhex.replace("0", "")</td>
                                <td>@positiveHe.sodiatedGlycomobCompositionList.neunac.replace("0", "")</td>
                                <td></td>
                                <td>@positiveHe.nativeStructure</td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="4">
                        <h3>Positive Mode (Nitrogen)</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Ion</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Native Structure</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(positiveN <-  summaryPositiveN){
                            <tr>
                                <td>@positiveN.css</td>
                                <td>@positiveN.sodiatedGlycomobCompositionList.mass</td>
                                <td>@positiveN.sodiatedGlycomobCompositionList.massCharge</td>
                                <td>@positiveN.sodiatedGlycomobCompositionList.hex.replace("0", "")</td>
                                <td>@positiveN.sodiatedGlycomobCompositionList.hexnac.replace("0", "")</td>
                                <td>@positiveN.sodiatedGlycomobCompositionList.dhex.replace("0", "")</td>
                                <td>@positiveN.sodiatedGlycomobCompositionList.neunac.replace("0", "")</td>
                                <td></td>
                                <td>@positiveN.nativeStructure</td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>




                </div>
            </div>

            <div class="span4">
                @views.html.format.ionmob(proteinList)
            </div>
        </div>
    </section>
</section>

<script>
    (function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);

</script>

}