@(numberCss: Integer, numberNaCss: Integer, comp: List[models.glycomobcomposition.Glycomobcomposition], sodiatedcomp: List[models.glycomobcomposition.SodiatedGlycomobComposition], proteinList: List[models.glycomobcomposition.GlycoproteinStandard], kbComp: String,
sodiatedcompN: List[models.glycomobcomposition.SodiatedGlycomobComposition], sodiatedcompHe: List[models.glycomobcomposition.SodiatedGlycomobComposition],
compN: List[models.glycomobcomposition.Glycomobcomposition], compHe: List[models.glycomobcomposition.Glycomobcomposition]
)


@main{

<script src="http://wenzhixin.net.cn/p/bootstrap-table/src/extensions/filter/bootstrap-table-filter.js"></script>

<ul class="breadcrumb">
    <li><i class="icon-home"></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
    <li class="active"><i class="icon-th"></i> GlycoMob<span class="divider"></span></li>
</ul>

<section id="structureLayout">
    <section id="layouts">

        <div class="page-header row-fluid">
            <h1>CCS Values - Composition Search</h1>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter by CCS" />
                OR <a href="@kbComp"><span class="label label-light">Query UniCarbKB Compositions</span></a>

                <ul class="nav nav-tabs" id="product-table">
                    @* <li class="active"><a href="#1" data-toggle="tab">Matching Structures (@numberCss)</a>
                    </li>
                    <li><a href="#2" data-toggle="tab">Sodiated Structures (@numberNaCss)</a>
                    </li> *@
                    <li class="active"><a href="#3" data-toggle="tab">Sodiated Nitrogen Positive Mode</a>
                    </li>
                    <li><a href="#4" data-toggle="tab">Sodiated Helium Positive Mode</a>
                    </li>
                    <li><a href="#5" data-toggle="tab">Nitrogen Negative Mode</a>
                    </li>
                    <li><a href="#6" data-toggle="tab">Helium Negative Mode</a>
                    </li>
                </ul>
                <div class="tab-content">
                    @*<div class="tab-pane active" id="1">

                        <h3>Matching Structures</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Ion</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>
                                <th>Glycoprotein</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(negative <-  comp){
                            <tr>
                            @for(n <- negative.cssDataGenerals) {
                                <td>@n.css</td>
                                <td>@("%.2f".format(n.glycomobcompositionList.mass))</td>
                                <td>@n.ion</td>
                                <td>@n.glycomobcompositionList.hex</td>
                                <td>@n.glycomobcompositionList.hexnac</td>
                                <td>@n.glycomobcompositionList.dhex</td>
                                <td>@n.glycomobcompositionList.neunac</td>
                                <td>@n.glycomobcompositionList.mi</td>
                                <td>@n.nativeStructure</td>
                                <td><a href="/ionmobCompleteProtein/@n.glycoproteinStandardList.id">@n.glycoproteinStandardList.name</a></td>
                            </tr>
                            } }
                            </tbody>
                        </table>
                    </div>


                    <div class="tab-pane" id="2">
                        <h3>Sodiated Structures</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Charge</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>
                                <th>Glycoprotein</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(negativeN <-  sodiatedcomp){
                            <tr>
                            @for(s <- negativeN.cssDatas) {
                                <td>@s.css</td>
                                <td>@("%.2f".format(s.sodiatedGlycomobCompositionList.massCharge))</td>
                                <td>@s.sodiatedGlycomobCompositionList.charge</td>
                                <td>@s.sodiatedGlycomobCompositionList.hex.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.hexnac.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.dhex.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.neunac.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.mi</td>
                                <td>@s.nativeStructure</td>
                                <td><a href="/ionmobCompleteProtein/@s.glycoproteinStandardList.id">@s.glycoproteinStandardList.name</a></td>
                            </tr>
                            }}
                            </tbody>
                        </table>
                    </div>*@

                    <div class="tab-pane active" id="3">
                        <h3>Sodiated Structures Nitrogen</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Charge</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>
                                <th>Glycoprotein</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(N <-  sodiatedcompN){
                            <tr>
                                @for(s <- N.cssDatas) {
                                <td>@s.css</td>
                                <td>@("%.2f".format(s.sodiatedGlycomobCompositionList.massCharge))</td>
                                <td>@s.sodiatedGlycomobCompositionList.charge</td>
                                <td>@s.sodiatedGlycomobCompositionList.hex.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.hexnac.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.dhex.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.neunac.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.mi</td>
                                <td>@s.nativeStructure</td>
                                <td><a href="/ionmobCompleteProtein/@s.glycoproteinStandardList.id">@s.glycoproteinStandardList.name</a></td>
                            </tr>
                            }}
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="4">
                        <h3>Sodiated Structures Helium</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Charge</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>
                                <th>Glycoprotein</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(He <-  sodiatedcompHe){
                            <tr>
                                @for(s <- He.cssDatas) {
                                <td>@s.css</td>
                                <td>@("%.2f".format(s.sodiatedGlycomobCompositionList.massCharge))</td>
                                <td>@s.sodiatedGlycomobCompositionList.charge</td>
                                <td>@s.sodiatedGlycomobCompositionList.hex.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.hexnac.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.dhex.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.neunac.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.mi</td>
                                <td>@s.nativeStructure</td>
                                <td><a href="/ionmobCompleteProtein/@s.glycoproteinStandardList.id">@s.glycoproteinStandardList.name</a></td>
                            </tr>
                            }}
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="5">
                        <h3>Structures Nitrogen</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Charge</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>
                                <th>Glycoprotein</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(N <-  compN){
                            <tr>
                                @for(s <- N.cssDataGenerals) {
                                <td>@s.css</td>
                                <td>@("%.2f".format(s.glycomobcompositionList.mass))</td>
                                <td>@s.glycomobcompositionList.charge</td>
                                <td>@s.glycomobcompositionList.hex.replace("0", "")</td>
                                <td>@s.glycomobcompositionList.hexnac.replace("0", "")</td>
                                <td>@s.glycomobcompositionList.dhex.replace("0", "")</td>
                                <td>@s.glycomobcompositionList.neunac.replace("0", "")</td>
                                <td>@s.glycomobcompositionList.mi</td>
                                <td>@s.nativeStructure</td>
                                <td><a href="/ionmobCompleteProtein/@s.glycoproteinStandardList.id">@s.glycoproteinStandardList.name</a></td>
                            </tr>
                            }}
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="6">
                        <h3>Structures Helium</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Charge</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>
                                <th>Glycoprotein</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(He <-  compHe){
                            <tr>
                                @for(s <- He.cssDataGenerals) {
                                <td>@s.css</td>
                                <td>@("%.2f".format(s.glycomobcompositionList.mass))</td>
                                <td>@s.glycomobcompositionList.charge</td>
                                <td>@s.glycomobcompositionList.hex.replace("0", "")</td>
                                <td>@s.glycomobcompositionList.hexnac.replace("0", "")</td>
                                <td>@s.glycomobcompositionList.dhex.replace("0", "")</td>
                                <td>@s.glycomobcompositionList.neunac.replace("0", "")</td>
                                <td>@s.glycomobcompositionList.mi</td>
                                <td>@s.nativeStructure</td>
                                <td><a href="/ionmobCompleteProtein/@s.glycoproteinStandardList.id">@s.glycoproteinStandardList.name</a></td>
                            </tr>
                            }}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="span4">
                @views.html.format.ionmob(proteinList)
            </div>
        </div>
    </section>
</section>

<script>
    (function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);

</script>

}