@(standards: List[models.glycomobcomposition.GlycoproteinStandard])

@main{

<ul class="breadcrumb">
    <li><i class="icon-home"></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
    <li class="active"><i class="icon-th"></i> GlycoMob<span class="divider"></span></li>
</ul>

<section id="structureLayout">
    <section id="layouts">

        <div class="page-header row-fluid">
            <h1>Glycoprotein CCS Values</h1>
        </div>

        <div class="row-fluid">
            <div class="span8">
		<p>To support data interpretation of IM and MS/MS data we will populate a new CCS database, GlycoMob, as well as supplement the existing glycan fragmentation database UniCarb-DB with measurements of glycan standards. Glycan analysis using IM-MS is a relatively new approach and applications for CCS measurements have principally employed home-built instruments. As a consequence the wide-spread use of IM-MS for glycomics analysis on commercially available instruments has been hindered.</p>
                <br/>
                <h3>Glycoprotein Standards Summary</h3>
                <table class="table table-condensed table-bordered table-striped volumes">
                    <col style="width:20%" span="5" />
                    <thead>
                    <tr>
                        <th>Glycoprotein</th>
                        @* <th>Data Acquisition Mode</th> *@
                        <th>Positive Mode using Helium</th>
                        <th>Positive Mode using Nitrogen</th>
                        <th>Negative Mode using Helium</th>
                        <th>Negative Mode using Nitrogen</th>
                    </thead>
                    <tbody>
                    @for(s <- standards){
                    @if(!s.name.matches("Dextran")){
                    <tr>
                        <td style="text-align:center">@s.name</td>
                        @* <td>@s.dataAcquisition</td> *@
                        <td style="text-align:center"><a href="/ionmobSodiatedGlycoproteinData/@s.id">@s.cssPosHeNative (@s.totalCssPosHe)</a></td>
                        <td style="text-align:center"><a href="/ionmobSodiatedGlycoproteinData/@s.id">@s.cssPosNitrogenNative (@s.totalCssPosN)</a></td>
                        <td style="text-align:center"><a href="/ionmobCompleteProtein/@s.id">@if(s.totalCssNegHe > 0) {@s.cssNegHeNative (@s.totalCssNegHe)} else { - }</a></td>
                        <td style="text-align:center"><a href="/ionmobCompleteProtein/@s.id">@if(s.totalCssNegN > 0 ) {@s.cssNegNitrogenNative (@s.totalCssNegN)} else { - }</a></td>
                    </tr>
                    }
                    }
                    </tbody>
                </table>

                <p>&#42;Content in parenthesis refers to the total number of native and fragment entries. Values outside parenthesis correspond to the number of native structures</p>

            </div>

            <div class="span4">
                @views.html.format.ionmob(standards)
            </div>
        </div>
    </section>
</section>


}
