@(summaryPositiveHe: List[models.glycomobcomposition.CssData],  summaryNegativeHe: List[models.glycomobcomposition.CssData], protein: models.glycomobcomposition.GlycoproteinStandard, summaryPositiveN: List[models.glycomobcomposition.CssData],  summaryNegativeN: List[models.glycomobcomposition.CssData], proteinList: List[models.glycomobcomposition.GlycoproteinStandard])

@main {

<script src="http://wenzhixin.net.cn/p/bootstrap-table/src/extensions/filter/bootstrap-table-filter.js"></script>

<ul class="breadcrumb">
    <li><i class="icon-home"></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
    <li class="active"><i class="icon-th"></i> GlycoMob<span class="divider"></span></li>
</ul>

<section id="structureLayout">
    <section id="layouts">

        <div class="page-header row-fluid">
            <h1>@protein.name CCS Values</h1>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter by CCS" />
                <ul class="nav nav-tabs" id="product-table">

                    <li class="active"><a href="#1" data-toggle="tab">Positive Mode - Helium (@summaryPositiveHe.size)</a>
                    </li>

                    <li><a href="#2" data-toggle="tab">Positive Mode - Nitrogen (@summaryPositiveN.size)</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="1">
                        <h3>Positive Mode (Helium)</h3>

                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CCS</th>
                                <th>Mass (m/z)</th>
                                <th>Charge</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>

                            </tr>
                            </thead>
                            <tbody>
                            @for(positive <- summaryPositiveHe){
                            <tr>
                                <td>@positive.css</td>
                                <td>@positive.sodiatedGlycomobCompositionList.massCharge</td>
                                <td>@positive.sodiatedGlycomobCompositionList.charge</td>
                                <td>@positive.sodiatedGlycomobCompositionList.hex</td>
                                <td>@positive.sodiatedGlycomobCompositionList.hexnac</td>
                                <td>@positive.sodiatedGlycomobCompositionList.dhex</td>
                                <td>@positive.sodiatedGlycomobCompositionList.neunac</td>
                                <td>@positive.sodiatedGlycomobCompositionList.mi</td>
                                <td>@positive.nativeStructure</td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>


                    <div class="tab-pane" id="2">
                        <h3>Positive Mode (Nitrogen)</h3>

                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <col style="width:20%" span="5" />
                            <thead>
                            <tr>
                                <th>CSS</th>
                                <th>Mass (m/z)</th>
                                <th>Charge</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                                <th>Precursor Structure</th>

                            </tr>
                            </thead>
                            <tbody>
                            @for(positive <- summaryPositiveN){
                            <tr>
                                <td>@positive.css</td>
                                <td>@positive.sodiatedGlycomobCompositionList.massCharge</td>
                                <td>@positive.sodiatedGlycomobCompositionList.charge</td>
                                <td>@positive.sodiatedGlycomobCompositionList.hex</td>
                                <td>@positive.sodiatedGlycomobCompositionList.hexnac</td>
                                <td>@positive.sodiatedGlycomobCompositionList.dhex</td>
                                <td>@positive.sodiatedGlycomobCompositionList.neunac</td>
                                <td>@positive.sodiatedGlycomobCompositionList.mi</td>
                                <td>@positive.nativeStructure</td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="span4">
                @views.html.format.ionmob(proteinList)
            </div>
        </div>
    </section>
</section>

<script>
    (function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);

</script>

<script>
    (function(document) {
	'use strict';

	var LightTableFilter2 = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table2'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter2');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter2.init();
		}
	});

})(document);

</script>

 }